#footer
  .row.footer-contact-section
    #footer-email-title
      Be first in line for upcoming trips.
    #signupModal{"aria-labelledby" => "signupModal", :role => "dialog", :tabindex => "-1"}
      = form_for :contact, url: {:controller => "contacts", :action => "create"}, method: "post", remote: true do |f|
        %input{:name => "contact[contact_type]", :type => "hidden", value: 'Email Signup'}

        .col-md-12
          .apply-form-box.apply-form
            .form-group.footer-email-container
              .row
                .input-group.enter-email-field
                  %input#InputEmailFirst.form-control.form-field-box{:name => "contact[email]", :placeholder => "Your Email", style: "border: none; text-align: center; padding-left: 42px; background: transparent; box-shadow: none; font-family: proxima_regular;", :required => "", :type => "email"}

                .form-group.text-center
                  %input#submit.btn.btn-success.application-form-btn.email-form-button{:name => "submit", :type => "submit", :value => "Join"}
  .container.text-center
    .footer_text
      .col-md-4.footer-upcoming-trips
        .footer-text
          #footer-text-title
            Join a Trip
            <br>
          .footer-header-underline
          %a.footer-trip-link{href: "/vietnam"}
            The Long Road South
            <br>
          %a.footer-trip-link{href: "/colombia"}
            Expedition Samana
            <br>
          %a.footer-trip-link{href: "/morocco"}
            The Berber Traverse
            <br>
          #footer-text-title{style: "margin-top: 16px;"}
            AdventureMade
          .footer-header-underline
          %a.footer-trip-link{href: "/adventure"}
            How it Works
            <br>
          %a.footer-trip-link{href: "/contact-us"}
            Contact Us
            <br>

      .col-md-4

      .col-md-4
        #footer-text-title
          Launch a Trip
        .footer-header-underline
        %a.footer-trip-link{href: "/india"}
          Riding the Roof of the World
          <br>
        %a.footer-trip-link{href: "/peru"}
          Adventure & Conflict in the Amazon
          <br>
        %a.footer-trip-link{href: "/socaltrifecta"}
          The SoCal Trifecta
          <br>
        #footer-text-title{style: "margin-top: 16px;"}
          Coming Soon
        .footer-header-underline
        %a.footer-trip-link{href: "/apply/kyrgyzstan"}
          Kyrgyz Eagles & Yurts
          <br>
        %a.footer-trip-link{href: "/apply/baja"}
          The Baja Escape
          <br>

  .footer-logo-section
    .footer-logo{href: "/india"}

  .social-row
    #footer-social-title
      Connect with Us
    .footer-social-buttons
      %a{href: "https://www.facebook.com/MadebyAdventures/", target: "_blank", style: "text-decoration: none !important"}
        = image_tag asset_url('icons/facebookicon.png', )
      %a{href: "https://twitter.com/adventuremade", target: "_blank", style: "text-decoration: none !important"}
        = image_tag asset_url('icons/twittericon.png')
      %a{href: "https://www.instagram.com/madebyadventure/", target: "_blank", style: "text-decoration: none !important"}
        = image_tag asset_url('icons/instagramicon.png')
