#footer
  .container.text-center
    .footer_text
      .col-md-4.footer-upcoming-trips
        .footer-text
          #footer-text-title
            Upcoming Trips
            <br>
          %a{href: "/vietnam"}
            The Long Road South
          <br>
          %a{href: "/colombia"}
            Expedition Samana
          <br>
          <br>
          #footer-text-title
            Create your Adventure
          %a{href: "/adventure"}
            Become an Ambassador
          <br>

      .col-md-4.footer-logo-section
        .footer-logo

      .col-md-4.footer-contact-section
        #footer-text-title
          Send me new trip alerts
        #signupModal{"aria-labelledby" => "signupModal", :role => "dialog", :tabindex => "-1"}
          = form_for :contact, url: {:controller => "contacts", :action => "create"}, method: "post", remote: true do |f|
            %input{:name => "contact[contact_type]", :type => "hidden", value: 'Email Signup'}

            .col-md-12
              .apply-form-box.apply-form
                .form-group.footer-email-container
                  .row
                    .input-group.enter-email-field
                      %input#InputEmailFirst.form-control.form-field-box{:name => "contact[email]", :placeholder => "Your Email", style: "border: none; text-align: center; padding-left: 42px; background: transparent;", :required => "", :type => "email"}

                    .form-group.text-center
                      %input#submit.btn.btn-success.application-form-btn.email-form-button{:name => "submit", :type => "submit", :value => "Join"}
        .col-md-12.social-row
          #footer-text-title
            Connect with Us
          %a{href: "https://www.facebook.com/MadebyAdventures/", target: "_blank", style: "text-decoration: none !important"}
            = image_tag asset_url('icons/facebookicon.png', )
          %a{href: "https://twitter.com/adventuremade", target: "_blank", style: "text-decoration: none !important"}
            = image_tag asset_url('icons/twittericon.png')
          %a{href: "https://www.instagram.com/madebyadventure/", target: "_blank", style: "text-decoration: none !important"}
            = image_tag asset_url('icons/instagramicon.png')
