%nav.Offscreen.Nav-List
  %a.Button
    %i.Menu-Bar.Menu-Top
    %i.Menu-Bar.Menu-Middle
    %i.Menu-Bar.Menu-Bottom
    #mobile-nav-brand{:href => "http://www.madebyadventure.com/"}
  %ul
    %li
      %a.nav-drawer-link{:href => "/"}
        home
    %li
      %a.nav-drawer-link{:href => "/about-us"}
        about us
    %li
      %a.nav-drawer-link.typeform-share{"data-mode" => "1", :href => "https://madebyadventure.typeform.com/to/BTT9KK", :target => "_blank"}
        work with us


:javascript

  $(".Button").on("click",function(e){
    $(this).parent().toggleClass("is-Open");
  });

  (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()