%nav.navbar.navbar-default.logged-out{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed.mobile-navbar-navigation{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .col-md-12
        %a.navbar-brand{href: "/"}
    #bs-example-navbar-collapse-1.collapse.navbar-collapse.mobile-navbar-menu
      %ul.nav.navbar-nav.navbar-right
        %a{:href => "/adventure"} 
          .btn.btn-default
            LAUNCH A TRIP
        %li.dropdown
          %a.dropdown-toggle.trip-dropdown{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            JOIN A TRIP
          %ul.dropdown-menu.trip-dropdown-content
            %li
              %a.trip-dropdown-title{:href => "/morocco"} The Berber Traverse
            %li
              %a.trip-dropdown-title{:href => "/kyrgyzstan"} The Kyrgyz Republic
            %li
              %a.trip-dropdown-title{:href => "/peru"} Packrafting the Upper Amazon

    / /.navbar-collapse
  / /.container-fluid