
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", style: "background: rgba(0,0,0,0.8);"}
  .modal-dialog{:role => "document"}
    .basecamp-content
      .basecamp-header
        #myModalLabel.modal-title.text-center
          // this is where default title would go
          // instead we use a little JS to take it from data
          // attibutes that we put on the buttons / basecamps themselves
      %img.modal-img
      .modal-body
