.jumbotron {
  margin-bottom: 0px !important;
}

.jumbotron_fix {
	min-height: 800px;
	background-size: cover !important;
  margin-top: -68px;
}

.scroll-slow {
  position: absolute;
  width: 100%;
  top: 0px;
  margin-top: 246px;

  #homepage-text {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 12px;
    color: #fff;
    background: transparent;
    padding-bottom: 80px;
    max-width: 700px;
    border-radius: 12px;
    margin: auto;

    #adventure-local{
      font-family: proxima_bold;
      font-size: 3.5em;
    }

    #adventure-local-explainer{
      font-family: proxima_thin;
      letter-spacing: 0px;
      font-size: 1.7em;
    }

    #adventure-local-mobile{
      display: none;
    }

    #adventure-local-explainer-mobile{
      display: none;
    }
  }
}

@media screen and (max-width: 768px){

  .jumbotron_fix{
    min-height: 650px;
  }

  .scroll-slow{
    margin-top: 180px;
  }

  .scroll-slow #homepage-text #adventure-local{
    display: none;
  }

  .scroll-slow #homepage-text #adventure-local-explainer{
    display: none;
  }

  .scroll-slow #homepage-text #adventure-local-mobile{
    font-family: proxima_bold;
    font-size: 3em;
    display: block;
    line-height: 50px;
  }

  .scroll-slow #homepage-text #adventure-local-explainer-mobile{
    font-family: proxima_thin;
    letter-spacing: 0px;
    font-size: 1.4em;
    display: block;
    max-width: 272px;
    margin: auto;
  }
}