#hiw_grid{
	background: #00293c;

	.grid_background{
		width: 100%;
	}

	.grid-one{
		min-height: 500px;
		position: relative;
		padding-left: 0px;
		padding-right: 0px;

		.grid-one-img{
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    position: relative;
		    min-height: 500px;
		    width: 100%;
		    background-image: asset-url("background/vietnampathsmall.jpeg");
			-moz-transition:opacity 0.3s ease-in-out; 
			-webkit-transition:opacity 0.3s ease-in-out;
			-o-transition:opacity 0.3s ease-in-out;
			-ms-transition: opacity 0.3s ease-in-out;
			transition: opacity 0.3s ease-in-out;
			opacity: 0.5;
		}

		.grid-one-overlay{
			font-family: proxima_thin;
			text-align: center;
			font-size: 3em;
			color: #fff;
			text-align: center;
			width:100%;
			min-height:400px;
			position:absolute;
			margin-top: 160px;
			top:0;
			left:0;
			opacity:0;
			-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
		}

		.grid-title-one{
	  		font-family: proxima_black;
	  		color: #FFF;
	  		font-size: 4em;
	  		text-align: center;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		max-width: 670px;
	  		-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
			text-transform: uppercase;
			line-height: 50px;
	  	}

		.grid-one-btn{
			font-family: proxima_thin;
			text-align: center;
			font-size: 1.2em;
			color: #fff;
			min-height: 40px;
			margin-top: -10px;
			opacity:0;
			-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
			border: 2px solid rgba(255,255,255,0.5);
			border-radius: 100px;
			background-color: rgba(170,75,65,0.6);
			box-shadow: 1px 1px 2px #333333;
			text-transform: uppercase;
			padding-top: 9px;

			&:hover{
				background-color: rgba(89,39,34,0.8);
				-webkit-transition: all 0.4s ease;
				transition: all 0.4s ease;
			}
		}

		.locationtext{
			margin-top: -356px;
		}

		.grid_one_text{
	  		font-family: proxima_thin;
	  		color: #FFF;
	  		font-size: 1.4em;
	  		width: 360px;
	  		margin: auto;
	  		padding-top: 20px;
	  		opacity:0;
			-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
	  	}
	}

	.grid-two{
		min-height: 500px;
		position: relative;
		padding-left: 0px;
		padding-right: 0px;

		.grid-two-img{
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    position: relative;
		    min-height: 500px;
		    width: 100%;
		    background-image: asset-url("background/WhiteWaterColombiaMain.jpg");
			-moz-transition:opacity 0.3s ease-in-out; 
			-webkit-transition:opacity 0.3s ease-in-out;
			-o-transition:opacity 0.3s ease-in-out;
			-ms-transition: opacity 0.3s ease-in-out;
			transition: opacity 0.3s ease-in-out;
			opacity: 0.5;
		}

		.grid-two-overlay{
			font-family: proxima_thin;
			text-align: center;
			font-size: 3em;
			color: #fff;
			text-align: center;
			width:100%;
			min-height:400px;
			position:absolute;
			margin-top: 160px;
			top:0;
			left:0;
			opacity:0;
			-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
		}

		.grid-title-two{
	  		font-family: proxima_black;
	  		color: #FFF;
	  		font-size: 4em;
	  		text-align: center;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		max-width: 700px;
	  		-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
			text-transform: uppercase;
			line-height: 50px;
	  	}

		.grid-two-btn{
			font-family: proxima_thin;
			text-align: center;
			font-size: 1.2em;
			color: #fff;
			min-height: 40px;
			margin-top: -10px;
			opacity:0;
			-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
			border: 2px solid rgba(255,255,255,0.5);
			border-radius: 100px;
			background-color: rgba(170,75,65,0.8);
			box-shadow: 1px 1px 2px #333333;
			text-transform: uppercase;
			padding-top: 9px;

			&:hover{
				background-color: rgba(89,39,34,0.8);
				-webkit-transition: all 0.4s ease;
				transition: all 0.4s ease;
			}
		}

		.locationtext{
			margin-top: -356px;
		}
	}

	.grid-three{
		min-height: 500px;
		position: relative;
		padding-left: 0px;
		padding-right: 0px;

		.grid-three-img{
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    position: relative;
		    min-height: 500px;
		    width: 100%;
		    background-image: asset-url("background/IndiaMountainssmall.jpg");
			-moz-transition:opacity 0.3s ease-in-out; 
			-webkit-transition:opacity 0.3s ease-in-out;
			-o-transition:opacity 0.3s ease-in-out;
			-ms-transition: opacity 0.3s ease-in-out;
			transition: opacity 0.3s ease-in-out;
			opacity: 0.5;
		}

		.grid-three-overlay{
			font-family: proxima_thin;
			text-align: center;
			font-size: 4.5em;
			color: #fff;
			text-align: center;
			width:100%;
			min-height:400px;
			position:absolute;
			margin-top: 200px;
			top:0;
			left:0;
			opacity:0;
			-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
		}

		.grid-title-three{
	  		font-family: proxima_black;
	  		color: #FFF;
	  		font-size: 4em;
	  		text-align: center;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		max-width: 480px;
	  		-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
			text-transform: uppercase;
	  	}

	  	.grid-title-three-sub{
	  		font-family: proxima_light;
	  		color: #FFF;
	  		font-size: 1.6em;
	  		text-align: center;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		max-width: 480px;
	  		-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
	  	}

	  	.grid-title-underline{
	  		border-bottom: 3px solid #aa4b41;
	  		max-width: 100px;
	  		margin: auto;
	  		margin-bottom: 10px;
	  	}

		.locationtext{
			margin-top: -330px;
		}
	}

	.grid-four{
		min-height: 500px;
		position: relative;
		padding-left: 0px;
		padding-right: 0px;

		.grid-four-img{
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    position: relative;
		    min-height: 500px;
		    width: 100%;
		    background-image: asset-url("background/tajikmainthumbnail.jpg");
			-moz-transition:opacity 0.3s ease-in-out; 
			-webkit-transition:opacity 0.3s ease-in-out;
			-o-transition:opacity 0.3s ease-in-out;
			-ms-transition: opacity 0.3s ease-in-out;
			transition: opacity 0.3s ease-in-out;
			opacity: 0.5;
		}

		.grid-four-overlay{
			font-family: proxima_thin;
			text-align: center;
			font-size: 4.5em;
			color: #fff;
			text-align: center;
			width:100%;
			position:absolute;
			margin-top: 200px;
			top:0;
			left:0;
			opacity:0;
			-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
		}

		.grid-title-four{
	  		font-family: proxima_black;
	  		color: #FFF;
	  		font-size: 4em;
	  		text-align: center;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		max-width: 480px;
	  		-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
			text-transform: uppercase;
	  	}

	  	.grid-title-four-sub{
	  		font-family: proxima_light;
	  		color: #FFF;
	  		font-size: 1.6em;
	  		text-align: center;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		max-width: 480px;
	  		-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
	  	}

	  	.grid-title-underline{
	  		border-bottom: 3px solid #aa4b41;
	  		max-width: 100px;
	  		margin: auto;
	  		margin-bottom: 10px;
	  	}

		.locationtext{
			margin-top: -330px;
		}
	}

	.grid-five{
		min-height: 500px;
		position: relative;
		padding-left: 0px;
		padding-right: 0px;

		.grid-five-img{
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    position: relative;
		    min-height: 500px;
		    width: 100%;
		    background-image: asset-url("background/packraftjungle.jpg");
			-moz-transition:opacity 0.3s ease-in-out; 
			-webkit-transition:opacity 0.3s ease-in-out;
			-o-transition:opacity 0.3s ease-in-out;
			-ms-transition: opacity 0.3s ease-in-out;
			transition: opacity 0.3s ease-in-out;
			opacity: 0.5;
		}

		.grid-five-overlay{
			font-family: proxima_thin;
			text-align: center;
			font-size: 4.5em;
			color: #fff;
			text-align: center;
			width:100%;
			position:absolute;
			margin-top: 200px;
			top:0;
			left:0;
			opacity:0;
			-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
		}

		.grid-title-five{
	  		font-family: proxima_black;
	  		color: #FFF;
	  		font-size: 4em;
	  		text-align: center;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		max-width: 480px;
	  		-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
			text-transform: uppercase;
	  	}

	  	.grid-title-five-sub{
	  		font-family: proxima_light;
	  		color: #FFF;
	  		font-size: 1.6em;
	  		text-align: center;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		max-width: 480px;
	  		-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
	  	}

	  	.grid-title-underline{
	  		border-bottom: 3px solid #aa4b41;
	  		max-width: 100px;
	  		margin: auto;
	  		margin-bottom: 10px;
	  	}

		.locationtext{
			margin-top: -330px;
		}
	}
}

@media screen and (min-width: 992px){
	#hiw_grid{
		display: none;
	}
}

@media screen and (max-width: 991px){

	#hiw_grid .grid-one .grid-title-one{
		font-size: 3em;
		max-width: 470px;
		margin-bottom: 20px;
	}

	#hiw_grid .grid-two .grid-title-two{
		font-size: 3em;
		max-width: 470px;
		margin-bottom: 20px;
	}

	#hiw_grid .grid-three .grid-title-three{
		font-size: 3em;
		max-width: 400px;
	}

	#hiw_grid .grid-four .grid-title-four{
		font-size: 3em;
		max-width: 400px;
	}

	#hiw_grid .grid-five .grid-title-five{
		font-size: 3em;
		max-width: 400px;
	}

	#hiw_grid .grid-one .grid-one-overlay{
		display: none;
	}

	#hiw_grid .grid-two .grid-two-overlay{
		display: none;
	}

	#hiw_grid .grid-three .grid-three-overlay{
		display: none;
	}

	#hiw_grid .grid-four .grid-four-overlay{
		display: none;
	}

	#hiw_grid .grid-five .grid-five-overlay{
		display: none;
	}

	#hiw_grid .grid-one .grid-one-btn{
		opacity: 1;
		margin-top: 12px;
		display: block;
		max-width: 240px;
		margin: auto;
		border: none;
		background-color: rgba(170,75,65,1);
	}

	#hiw_grid .grid-two .grid-two-btn{
		opacity: 1;
		margin-top: 12px;
		display: block;
		max-width: 240px;
		margin: auto;
		border: none;
		background-color: rgba(170,75,65,1);
	}
}

@media screen and (max-width: 500px){
	#hiw_grid .grid-one{
		min-height: 400px;
	}

	#hiw_grid .grid-two{
		min-height: 400px;
	}

	#hiw_grid .grid-three{
		min-height: 420px;
	}

	#hiw_grid .grid-four{
		min-height: 420px;
	}

	#hiw_grid .grid-five{
		min-height: 420px;
	}

	#hiw_grid .grid-one .grid-one-img{
		min-height: 400px;
	}

	#hiw_grid .grid-two .grid-two-img{
		min-height: 400px;
	}

	#hiw_grid .grid-three .grid-three-img{
		min-height: 420px;
	}

	#hiw_grid .grid-four .grid-four-img{
		min-height: 420px;
	}

	#hiw_grid .grid-five .grid-five-img{
		min-height: 420px;
	}

	#hiw_grid .grid-one .locationtext{
		margin-top: -290px;
	}

	#hiw_grid .grid-two .locationtext{
		margin-top: -290px;
	}

	#hiw_grid .grid-three .locationtext{
		margin-top: -290px;
	}

	#hiw_grid .grid-four .locationtext{
		margin-top: -290px;
	}

	#hiw_grid .grid-five .locationtext{
		margin-top: -290px;
	}

	#hiw_grid .grid-one .grid-one-btn{
		max-width: 180px;
		max-height: 40px;
		font-size: 1em;
		padding-top: 10px;
	}

	#hiw_grid .grid-two .grid-two-btn{
		max-width: 180px;
		max-height: 40px;
		font-size: 1em;
		padding-top: 10px;
	}
}
