#hiw_grid{
	background: #00293c;
	padding-bottom: 40px;

	.mobile_grid_background{
		width: 100%;
	}

	.grid_header{
		min-height: 60px;
		padding-top: 40px;
		padding-bottom: 20px;
	

		.grid_title{
			font-family: proxima_bold;
			font-size: 1.8em;
			color: #fff;
			text-align: left;
	

			.grid_subtitle{
				font-family: proxima_regular;
				font-size: 16px;
				color: rgba(255,255,255,1);
				text-align: left;
			}
		}

		.grid-title-underline{
			max-width: 100px;
			border-bottom: 4px solid #aa4b41;
			margin-top: 20px;
		}
	}

	.mobile-grid{
		min-height: 420px;
		position: relative;
		padding-right: 0px;
		padding-left: 0px;
		background-color: #f5f5f5;
		margin-bottom: 20px;
		border: 8px solid #00293c;

		&:hover{
			
		}

		.mobile-grid-img{
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    position: relative;
		    min-height: 300px;
		    width: 100%;
		    background-image: asset-url("background/vietnampathsmall.jpeg");
		}

		.mobile-grid-overlay{
			font-family: proxima_thin;
			text-align: center;
			font-size: 3em;
			color: #fff;
			text-align: center;
			width:100%;
			min-height:400px;
			position:absolute;
			margin-top: 160px;
			top:0;
			left:0;
			opacity:0;
			-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
		}

		.mobile-grid-title{
	  		font-family: proxima_bold;
	  		color: #FFF;
	  		text-shadow: 1px 1px 5px rgba(0,0,0,1);
	  		font-size: 4em;
	  		text-align: center;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		max-width: 670px;
	  		padding-top: 100px;
	  		-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
			line-height: 50px;
	  	}

	  	.mobile-grid-progress{
	  		background: #212326;
	  		border-top: 12px solid #f5f5f5;

		  	.mobile-grid-travelers{
		  		margin-top: -40px !important;
		  		display: flex;
		  		max-width: 800px;
		  		margin: auto;

		  		.traveler-icon{
		  			height: 80px;
		  			width: 80px;
		  			margin: auto;
		  			z-index: 1001;
		  			position: relative;
		  			border: 2px solid #212326;

		  			.traveler-icon-additional{
		  				font-family: proxima_regular;
		  				font-size: 0.9em;
		  				text-align: center;
		  				color: #fff;
		  			}
		  		}
		  	}

		  	.mobile-grid-progress-bar{
		  		height: 12px;
		  		width: 90%;
		  		border: 1px solid #686868;
		  		border-radius: 100px;
		  		margin: auto;
		  		margin-top: 10px;
		  		max-width: 500px;
		  		overflow: hidden;
		  		margin-bottom: 10px;

		  		.progress-bar-status-vietnam{
		  			height: 14px;
			  		width: 100%;
			  		background-color: #aa4b41;
			  		border-radius: 0px;
			  	}

			  	.progress-bar-status-morocco{
		  			height: 14px;
			  		width: 100%;
			  		background-color: #aa4b41;
			  		border-radius: 0px;
			  	}
		  	}

		  	.trip-stats{
		  		width: 100%;
		  		font-family: proxima_bold;
		  		color: #212326;
		  		text-align: center;
		  		display: flex;
		  		padding-top: 20px;
		  		margin: auto;
		  		background: #f5f5f5;
		  		padding-bottom: 20px;

		  		.trip-stats-duration{
		  			width: 33.333333%;
		  		}

		  		.trip-stats-capacity{
		  			width: 33.333333%;
		  			border-left: 2px solid #d0d0d0;
		  			border-right: 2px solid #d0d0d0;
		  		}

		  		.trip-stats-price{
		  			width: 33.333333%;
		  		}

		  		.trip-stats-body{
		  			font-family: proxima_regular;
		  		}
		  	}
		}

	  	.mobile-grid-dates{
			font-family: proxima_bold;
	  		color: #212326;
	  		font-size: 1.0em;
	  		text-align: center;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		padding-bottom: 10px;
	  		-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
	  	}

	  	.mobile-grid-location{
	  		font-family: proxima_regular;
	  		color: #212326;
	  		font-size: 1.2em;
	  		text-align: center;
	  		border: none;
	  		padding-bottom: 10px;
	  		margin-right: auto;
	  		margin-left: auto;
	  		-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
	  	}

	  	.mobile-grid-description{
	  		font-family: proxima_regular;
	  		color: #212326;
	  		font-size: 1.0em;
	  		text-align: center;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		max-width: 430px;
	  		line-height: 18px;
	  		padding-bottom: 40px;
	  	}

		.mobile-grid-btn{
			font-family: proxima_bold;
			text-align: center;
			font-size: 1.2em;
			color: #fff;
			min-height: 40px;
			margin-top: -10px;
			opacity:0;
			-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
			border: 2px solid #fff;
			border-radius: 0px;
			background-color: transparent;
			padding-top: 8px;
			max-width: 120px;

			&:hover{
				background-color: #212326;
				color: #fff;
				-webkit-transition: all 0.4s ease;
				transition: all 0.4s ease;
			}
		}

		.locationtext{
			padding-top: 20px;
			padding-left: 12px;
			padding-right: 12px;
			min-height: 176px;
		}

		.mobile-grid-text{
	  		font-family: proxima_thin;
	  		color: #FFF;
	  		font-size: 1.4em;
	  		width: 360px;
	  		margin: auto;
	  		padding-top: 20px;
	  		opacity:0;
			-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
	  	}
	}
}

@media screen and (min-width: 992px){
}

@media screen and (max-width: 991px){

	#hiw_grid .mobile-grid .mobile-grid-title{
		font-size: 3em;
		max-width: 550px;
		margin-bottom: 20px;
	}

	#hiw_grid .mobile-grid .mobile-grid-overlay{
		display: none;
	}

	#hiw_grid .mobile-grid .mobile-grid-btn{
		opacity: 1;
		margin-top: 20px !important;
		display: block;
		max-width: 240px;
		margin: auto;
	}
}

@media screen and (max-width: 771px){
	#hiw_grid .grid_header{
		padding-top: 20px;
	}
}

@media screen and (max-width: 600px){
	#hiw_grid .mobile-grid .mobile-grid-title{
		font-size: 2em;
		max-width: 300px;
		line-height: 30px;
	}

	#hiw_grid .mobile-grid .mobile-grid-description{
		font-size: 0.9em;
		max-width: 300px;
		line-height: 16px;
		padding-right: 6px;
		padding-left: 6px;
	}
}

@media screen and (max-width: 500px){
	#hiw_grid .mobile-grid{
		min-height: 400px;
	}

	#hiw_grid .mobile-grid .mobile-grid-img{
		min-height: 322px;
	}

	#hiw_grid .mobile-grid .mobile-grid-btn{
		max-width: 180px;
		max-height: 40px;
		font-size: 1em;
		padding-top: 8px;
	}
}
