.banner{
	height: 100vh;
	background-color: #15181B;

	#banner-image{
		height: 100vh;
		background-size: cover !important;
		opacity: 0;
		margin-top: -60px;

		#banner-content{
			padding-top: 28vh;
			max-width: 960px;
			padding-left: 10%;
			height: 90vh;
			opacity: 0;
			position: absolute;
			top: 80px;

			.banner-header{
				color: #ffffff;
				margin: auto;
				text-align: left;
			}

			.banner-small-header{
				display: none;
				font-family: proxima_light;
				font-size: 24px;
				line-height: 36px;
				color: #fff;
				margin: auto;
				text-align: left;
				letter-spacing: -0.5px;
				margin-top: 20px;
			}

			.banner-btn{
				display: none;
				max-width: 260px;
				color: #2f323a;
				background: #ffe52e;
				text-align: center;
				height: 50px;
				font-family: lora_regular;
				font-size: 24px;
				margin-top: 24px;
				padding-top: 8px;
				letter-spacing: 0px;
				border-radius: 4px;
				box-shadow: 0px 4px 12px rgba(0,0,0,0.1);

				-webkit-transition: .2s ease-in-out;
				-moz-transition: .2s ease-in-out;
				-o-transition: .2s ease-in-out;

				&:hover{
					background: #d6c026;
					box-shadow: none;
					color: #ffffff;
				}
			}
		}

		#banner-call-to-action{
			width: 100%;
			height: 20vh;
			padding-top: 6vh;
			position: absolute;
			bottom: 0;
			opacity: 0.7;
			cursor: pointer;
			-webkit-transition: .2s ease-in-out;
			-moz-transition: .2s ease-in-out;
			-o-transition: .2s ease-in-out;

			&:hover{
				opacity: 1;
				background: rgba(0,0,0,0.1);
				box-shadow: inset 0px 8px 12px hsla(0, 0%, 0%, 0.1);
			}

			.banner-call-to-action-text{
				font-family: lora_italic;
				color: #ffe52e;
				text-align: center;
			}

			.banner-down-link{
				color: #ffffff;
				font-size: 26px;
				max-width: 17px;
				margin: auto;
			}
		}
	}

	#contact-us-header{
		position: absolute;
		top: 22px;
		right: 24px;
		opacity: 0.7;
		cursor: pointer;
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;

		&:hover{
			opacity: 1;
		}

		.contact-us-header-text{
			font-family: lora_italic;
			color: #ffe52e;
			max-width: 240px;
		}
	}

}


@media screen and (max-width: 991px){
	
	.banner #banner-image #banner-content{
		max-width: 500px;
		padding-left: 4%;
	}

	.banner .banner-image #banner-content .banner-small-header{
		margin-top: -32px;
	}
}

@media screen and (max-width: 500px){

	.banner #banner-image #banner-content{
		max-width: 320px;
		padding-right: 2%;
		padding-left: 2%;
		position: relative;
		margin: auto;
	}

	.banner #banner-image #banner-content .banner-header{		
		text-align: center;
	}

	.banner .banner-image #banner-content .banner-small-header{
		margin-top: -4px;
	}

	.banner .banner-image #banner-content .banner-btn{
		max-width: 136px;
		height: 40px;
		margin-top: 2px;
		padding-top: 5px;
	}
}