#how_it_works {
	background: #fff;
	padding-bottom: 50px;
	padding-top: 50px;

	.mission-statement{
		padding-bottom: 80px;
	}

		.mission-header{
			font-family: proxima_black;
			font-size: 2.4em;
			color: #212326;
			text-align: center;
			border-bottom: 2px solid #aa4b41;
			max-width: 300px;
			margin: auto;
			margin-bottom: 40px;
		}

		.mission-description{
			font-family: proxima_thin;
			font-size: 1.4em;
			color: #212326;
			text-align: center;
			max-width: 800px;
			margin: auto;
		}

	.hiw_panel{
		background: #212326;
		border-radius: 12px;
		border: 6px solid #fff;
		padding: 10px;
		max-width: 600px;
		margin: auto;
		transition:  0.5s ease-in-out;
		min-height: 240px;

		&:hover  {
	        background-color: rgba(0,0,0,0.6);
	        -webkit-transition: all 0.7s ease;
		
			.howitworkstitle{
				text-shadow: 2px 1px 3px #333;
				border-bottom: 2px solid rgba(255,255,255,0.5);
				padding-bottom: 6px;
				-webkit-transition: all 0.7s ease;
			}
		}
	}

	.howitworkstitle {
		font-family: proxima_light;
		color: #FFF;
		font-size: 2em;
		text-align: center;
		margin-bottom: 8px;
		padding-bottom: 6px;
		border-bottom: 2px solid #aa4b41;
		padding-top: 40px;
		max-width: 300px;
		margin: auto;
	}

	.hiw-explainer {
		font-family: proxima_light;
		color: #FFF;
		font-size: 1.3em;
		text-align: center;
		max-width: 400px;
		margin: auto;
		margin-bottom: 20px;
		margin-top: 20px;
		padding-bottom: 20px;
	}
}