#how_it_works {
	background: #212326;
	min-height: 230px;

	.mission-statement{
		padding-top: 40px;
		background: #00293c;

		.mission-block{
			
			.mission-block-content{
				max-width: 800px;
				margin: auto;
				background-color: #F5F5F5;
				padding: 40px;
				margin-top: -100px;

				&:hover{
					.which_stage_btn{
						color: #fff;
						-webkit-transition: all 0.4s ease;
						transition: all 0.4s ease;
						max-width: 200px;
					}
				}

				.mission-title{
					font-family: proxima_bold;
					font-size: 2.0em;
					color: #17181B;
					text-align: center;
					margin-bottom: 20px;
				}

				.mission-title-underline{
					border-bottom: 4px solid #aa4b41;
					max-width: 100px;
					margin-top: 20px;
					margin: auto;
				}

				.mission-description{
					font-family: proxima_regular;
					font-size: 1.2em;
					color: #17181B;
					text-align: center;
					margin-top: 20px !important;
					max-width: 600px;
					margin: auto;
				}

				.mission-block-image{
					width: 100%;
					min-height: 380px;
					margin: auto;
					opacity: 0.8;
					border: 4px solid #fff;
				}
			}
		}
	}

	.how-it-works-thumbnails{
		background: #212326;
		padding-bottom: 40px;

		.explainer_steps{
			margin-top: 40px;
			padding-left: 10px;
			padding-right: 10px;

			.explainer_step_container{
				margin: auto;

				.explainer_step_image{
					margin: auto;
					max-width: 420px;
					min-height: 240px;
					background-color: #fff !important;
					background-size: cover !important;
					border-radius: 8px;
					border: 6px solid #00293c;
				}

				.explainer_step_mobile{
					max-width: 420px;
					margin: auto;
					margin-top: -14px;

					.explainer_step_mobile_text{
						font-family: proxima_regular;
						color: #fff;
						max-width: 360px;
						margin: auto;
						font-size: 1.1em;
						text-align: center;
						margin-top: 14px;
						padding: 12px;
					}

				}
			}
		}
	}

	.hiw_panel{
		background: #212326;
		border-radius: 12px;
		border: 6px solid #fff;
		padding: 10px;
		max-width: 600px;
		margin: auto;
		transition:  0.5s ease-in-out;
		min-height: 240px;

		&:hover  {
	        background-color: rgba(0,0,0,0.6);
	        -webkit-transition: all 0.7s ease;
		
			.howitworkstitle{
				text-shadow: 2px 1px 3px #333;
				border-bottom: 2px solid rgba(255,255,255,0.5);
				padding-bottom: 6px;
				-webkit-transition: all 0.7s ease;
			}
		}
	}

	.howitworkstitle {
		font-family: proxima_light;
		color: #FFF;
		font-size: 2em;
		text-align: center;
		margin-bottom: 8px;
		padding-bottom: 6px;
		border-bottom: 2px solid #aa4b41;
		padding-top: 40px;
		max-width: 300px;
		margin: auto;
	}

	.hiw-explainer {
		font-family: proxima_light;
		color: #FFF;
		font-size: 1.3em;
		text-align: center;
		max-width: 400px;
		margin: auto;
		margin-bottom: 20px;
		margin-top: 20px;
		padding-bottom: 20px;
	}


	.which_stage_btn{
		font-family: proxima_bold;
		text-align: center;
		font-size: 1.2em;
		color: #fff;
		height: 40px;
		max-width: 180px;
		margin: auto;
		-webkit-transition: all 0.7s ease;
		transition: all 0.7s ease;
		border-radius: 100px;
		background-color: rgba(170, 75, 65, 1);
		padding-top: 8px;
		margin-top: 20px;
		margin-bottom: 40px;

		&:hover{
			background-color: rgba(89,39,34,1);
			color: #fff;
			-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
			max-width: 200px;
		}
	}
}


@media screen and (max-width: 991px){

	#how_it_works .explainer_steps{
		margin-top: 50px;
	}

	#how_it_works .which_stage_btn{
		margin-bottom: -46px;
	}

	#how_it_works .explainer_steps .explainer_step_container{
		margin-top: 40px;
		padding-left: 0px;
		padding-right: 0px;
		max-width: 420px;
	}

	#how_it_works .explainer_steps .explainer_step_container .explainer_step_image{
		border-radius: 0px;
		background-color: transparent !important;
		background-size: cover !important;
		min-height: 200px;
	}

	#how_it_works .explainer_steps .explainer_step_container .explainer_step_mobile{
		border-radius: 0px;
		margin-top: -10px;
	}

	#how_it_works .explainer_steps .explainer_step_container .explainer_step_mobile .explainer_step_mobile_text{
		font-size: 1.0em;
	}

	#how_it_works .mission-statement .mission-block .mission-block-content{
		max-width: 600px;
		padding: 25px;
		min-height: 0px;
	}

	#how_it_works .mission-statement .mission-block .mission-block-content .mission-title{
		font-size: 1.75em;
	}

	#how_it_works .mission-statement .mission-block .mission-block-content .mission-description{
		font-size: 1.05em;
	}

	#how_it_works .mission-statement .mission-block .mission-block-content .mission-block-image{
		margin-top: 50px;
	}
}

@media screen and (max-width: 771px){

	#how_it_works{
		min-height: 0px;
	}

	#how_it_works .mission-statement{
		padding-bottom: 50px;
	}

	#how_it_works .mission-statement .mission-block .mission-block-content .mission-block-image{
		min-height: 330px;
	}

	#how_it_works .how-it-works-thumbnails{
		display: none;
	}
}

@media screen and (max-width: 600px){

	#how_it_works .mission-statement .mission-block .mission-block-content{
		padding: 15px;
		margin-top: -75px;
	}

	#how_it_works .which_stage_btn{
		margin-bottom: -35px;
	}

	#how_it_works .mission-statement .mission-block .mission-block-content .mission-title{
		font-size: 1.2em;
		margin-bottom: 10px;
	}

	#how_it_works .mission-statement .mission-block .mission-block-content .mission-description{
		font-size: 0.95em;
		margin-top: 10px !important;
	}
}