#traveler_quotes{
	background: #fff;
	padding-top: 50px;
	padding-bottom: 60px;

	.quote-content{
		max-width: 500px;
		margin: auto;
		padding-top: 100px;
		padding-bottom: 120px;

		.traveler-quote-header{
			font-family: proxima_bold;
			font-size: 2em;
			color: #212326;
			text-align: center;
			padding-bottom: 20px;
		}

		.traveler-quote-text{
			font-family: proxima_light;
			font-size: 1.5em;
			color: #212326;
			text-align: center;
		}

		.traveler-quote-name{
			font-family: proxima_bold;
			font-size: 1.5em;
			color: #212326;
			text-align: center;
			padding-top: 20px;
			padding-bottom: 40px;
		}

		.quote-images{
			max-width: 400px;
			margin: auto;
			display: flex;

			.quote-image-button{
			    width: 100px;
			    height: 100px;
			    float: left;
			    border-radius: 50%;
			    cursor: pointer;
			    margin: auto;
			    box-shadow: 1px 1px 2px #444;
			    background-size: contain !important;
			}
		}
	}
}

@media screen and (max-width: 500px){
	#how_it_works .mission-statement .mission-block .mission-block-content .mission-description{
		font-size: 1.2em;
	}
}

@media screen and (max-width: 500px){

	#traveler_quotes{
		padding-top: 0px;
		padding-bottom: 0px;
	}

	#traveler_quotes .quote-content .traveler-quote-header{
		font-size: 1.4em;
	}

	#traveler_quotes .quote-content .traveler-quote-text{
		font-size: 1em;
		max-width: 300px;
		margin: auto;
	}

	#traveler_quotes .quote-content .traveler-quote-name{
		font-size: 1em;
	}

	#traveler_quotes .quote-content{
		padding-left: 8px;
		padding-right: 8px;
	}
}