#trips_grid{
	background: #00293c;

	.grid_background{
		width: 100%;
		padding-bottom: 60px;
	}

	.grid_header{
		min-height: 60px;
		padding-top: 40px;
		padding-bottom: 20px;
	

		.grid_title{
			font-family: proxima_bold;
			font-size: 1.8em;
			color: #fff;
			text-align: left;
	

			.grid_subtitle{
				font-family: proxima_thin;
				font-size: 18px;
				color: rgba(255,255,255,0.9);
				text-align: left;
			}
		}

		.grid-title-underline{
			max-width: 100px;
			border-bottom: 4px solid #aa4b41;
			margin-top: 20px;
		}
	}

	.grid-row{
		margin-left: 15px;
		margin-right: 15px;
	}

	.grid-container{
		position: relative;
		padding-left: 0px;
		padding-right: 0px;

		-moz-transition:-moz-transform 0.5s ease-in-out; 
		-webkit-transition:-webkit-transform 0.5s ease-in-out; 
		-o-transition:-o-transform 0.5s ease-in-out;

		&:hover  {
			-moz-transform:scale(1.03); 
			-webkit-transform:scale(1.03);
			-o-transform:scale(1.03);

			.grid-btn{
				border-radius: 100px;
			}

			.grid-img-overlay-left{
				opacity: 1 !important;
			}

			.grid-img-overlay-right{
				opacity: 1 !important;
			}
		}

		.grid-img-left{
		    position: relative;
		    padding-right: 0px;
			padding-left: 0px;
		    min-height: 448px;
		    border-radius: 12px;
		    border-top-right-radius: 0px;
		    border-bottom-right-radius: 0px;
		    -webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;


			.grid-img-overlay-left{
				opacity: 0;
				background-color: rgba(255,255,255,0.2);
				width: 100%;
				height: 448px;
		   		border-top-left-radius: 12px;
		    	border-bottom-left-radius: 12px;
		    	-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}
		}

		.grid-img-right{
			position: relative;
			padding-right: 0px;
			padding-left: 0px;
		    min-height: 448px;
		    border-radius: 12px;
		    border-top-left-radius: 0px;
		    border-bottom-left-radius: 0px;
		    -webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
		
			.grid-img-overlay-right{
				opacity: 0;
				background-color: rgba(255,255,255,0.2);
				width: 100%;
				height: 448px;
		    	border-top-right-radius: 12px;
		    	border-bottom-right-radius: 12px;
		    	-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}
		}
	}

	.grid-text{
		padding-top: 5%;
		max-width: 410px;
		padding-left: 30px;
		padding-right: 30px;
		background: #fff;
		min-height: 448px;
		border-radius: 12px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;

		.grid-title{
	  		font-family: proxima_bold;
	  		color: #17181B;
	  		font-size: 2.0em;
	  		text-align: left;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		max-width: 460px;
	  		padding-bottom: 10px;
	  		-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
	  	}

	  	.grid-title-location{
	  		font-family: proxima_regular;
	  		color: #17181B;
	  		font-size: 1.2em;
	  		text-align: left;
	  		border: none;
	  		padding-bottom: 10px;
	  		padding-left: 6px;
	  		margin-right: auto;
	  		margin-left: auto;
	  		-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
	  	}

	  	.grid-title-dates{
			font-family: proxima_regular;
	  		color: #17181B;
	  		font-size: 1.2em;
	  		text-align: left;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		padding-bottom: 10px;
	  		-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
	  	}

	  	.grid-description{
	  		font-family: proxima_regular;
	  		color: #17181B;
	  		font-size: 1.0em;
	  		text-align: left;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: 0px;
	  		max-width: 430px;
	  		line-height: 20px;
	  		padding-bottom: 20px
	  	}

		.grid-btn{
			font-family: proxima_bold;
			text-align: center;
			font-size: 1.1em;
			max-width: 160px;
			min-width: 150px;
			margin: auto;
			color: #17181B;
			border-radius: 0px;
			min-height: 40px;
			padding-top: 7px;
			border: 2px solid #17181B;
			-webkit-transition: all 0.7s ease-in-out;
			transition: all 0.7s ease-in-out;

			&:hover{
				background: rgba(0,0,0,0.6);
				color: #fff;
			}
		}
	}
}

.your-adventure{
	background: #00293c;
	height: 448px;

	.your-adventure-header{
		font-family: proxima_bold;
  		color: #fff;
  		font-size: 3em;
  		text-align: center;
  		padding-top: 100px;
	}

	.your-adventure-body{
		font-family: proxima_regular;
  		color: #fff;
  		font-size: 1.1em;
  		text-align: center;
  		max-width: 550px;
  		margin: auto;
  		padding-top: 12px;
  		padding-bottom: 12px;
	}

	.your-adventure-btn{
		font-family: proxima_bold;
		text-align: center;
		font-size: 1.2em;
		color: #fff;
		min-height: 40px;
		max-width: 170px;
		margin: auto;
		padding-top: 7px;
		-webkit-transition: all 0.7s ease;
		transition: all 0.7s ease;
		border-radius: 100px;
		background-color: #aa4b41;
		margin-top: 20px;

		&:hover{
			background-color: rgba(89,39,34,1);
			-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
			max-width: 200px;
		}
	}
}

@media screen and (max-width: 991px){
	#trips_grid{
		display: none;
	}
}

@media screen and (max-width: 600px){
	.your-adventure .your-adventure-header{
		padding-top: 90px;
		max-width: 340px;
		margin: auto;
		line-height: 50px;
		font-size: 1.9em;
	}

	.your-adventure .your-adventure-body{
		max-width: none;
		margin: auto;
		font-size: 1.0em;
	}
}

