#trips_grid{
	background: rgba(33,35,38,0.9);

	.grid_background{
		width: 100%;
	}

	.grid-container{
		position: relative;
		padding-left: 0px;
		padding-right: 0px;

		.grid-img{
		    position: relative;
		    min-height: 448px;
		    width: 100%;
			-moz-transition:opacity 0.3s ease-in-out; 
			-webkit-transition:opacity 0.3s ease-in-out;
			-o-transition:opacity 0.3s ease-in-out;
			-ms-transition: opacity 0.3s ease-in-out;
			transition: opacity 0.3s ease-in-out;
		}
	}

	.grid-text{
		margin-top: 90px;

		.grid-title{
	  		font-family: proxima_thin;
	  		color: #FFF;
	  		font-size: 2.4em;
	  		text-align: center;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		max-width: 360px;
	  		padding-bottom: 20px;
	  		-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
	  	}

	  	.grid-title-underline{
	  		border-bottom: 2px solid #aa4b41;
	  		max-width: 100px;
	  		margin: auto;
	  	}


	  	.grid-description{
	  		font-family: proxima_thin;
	  		color: rgba(255,255,255,0.6);
	  		font-size: 1.3em;
	  		text-align: center;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		max-width: 500px;
	  		padding-top: 30px;
	  		padding-bottom: 30px;
	  	}

		.grid-btn{
			font-family: proxima_thin;
			text-align: center;
			font-size: 1.4em;
			color: #fff;
			min-height: 40px;
			-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
			border-radius: 100px;
			background-color: rgba(170,75,65,0.6);
			box-shadow: 1px 1px 2px #333333;

			&:hover{
				background-color: rgba(89,39,34,0.8);
				-webkit-transition: all 0.4s ease;
				transition: all 0.4s ease;
			}
		}
	}

	.grid-text-coming{
		margin-top: 150px;

		.grid-title{
	  		font-family: proxima_thin;
	  		color: #FFF;
	  		font-size: 2.4em;
	  		text-align: center;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		max-width: 360px;
	  		padding-bottom: 20px;
	  		-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
	  	}

	  	.grid-title-underline{
	  		border-bottom: 2px solid #aa4b41;
	  		max-width: 100px;
	  		margin: auto;
	  	}

	  	.grid-description{
	  		font-family: proxima_thin;
	  		color: rgba(255,255,255,0.6);
	  		font-size: 1.6em;
	  		text-align: center;
	  		border: none;
	  		margin-right: auto;
	  		margin-left: auto;
	  		max-width: 500px;
	  		padding-top: 30px;
	  		padding-bottom: 40px;
	  	}
	}
}

.your-adventure{
	background: #17181B;
	height: 448px;

	.your-adventure-header{
		font-family: proxima_bold;
  		color: #fff;
  		font-size: 3em;
  		text-align: center;
  		padding-top: 130px;
  		text-transform: uppercase;
	}

	.your-adventure-body{
		font-family: proxima_thin;
  		color: rgba(255,255,255,0.9);
  		font-size: 1.4em;
  		text-align: center;
	}

	.your-adventure-btn{
		font-family: proxima_thin;
		text-align: center;
		font-size: 1.2em;
		color: #fff;
		min-height: 40px;
		max-width: 170px;
		margin: auto;
		padding-top: 8px;
		-webkit-transition: all 0.7s ease;
		transition: all 0.7s ease;
		border-radius: 100px;
		background-color: rgba(170,75,65,0.7);
		margin-top: 20px;

		&:hover{
			background-color: rgba(89,39,34,1);
			-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
			max-width: 200px;
		}
	}
}

@media screen and (max-width: 991px){
	#trips_grid{
		display: none;
	}
}

@media screen and (max-width: 600px){
	.your-adventure .your-adventure-header{
		padding-top: 88px;
		line-height: 60px;
		max-width: 340px;
		margin: auto;
		line-height: 50px;
	}

	.your-adventure .your-adventure-body{
		padding-top: 20px;
		padding-bottom: 10px;
		max-width: 280px;
		margin: auto;
		font-size: 1.4em;
	}
}

