#upcoming-trips{
	background: #F5F5F5;

	.upcoming-trips-background{
		width: 100%;
	}

	.upcoming-trips-container{
		padding-bottom: 40px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.upcoming-trips-header{
		min-height: 60px;
		padding-top: 40px;
		padding-bottom: 40px;
	

		.upcoming-trips-title{
			font-family: proxima_bold;
			font-size: 1.8em;
			color: #17181B;
			text-align: left;
	

			.upcoming-trips-subtitle{
				font-family: proxima_regular;
				font-size: 16px;
				color: rgba(0,0,0,0.9);
				text-align: left;
			}
		}

		.upcoming-trips-underline{
			max-width: 100px;
			border-bottom: 4px solid #aa4b41;
			margin-top: 20px;
		}
	}

	.upcoming-trips-container {

		.upcoming-trip {
			overflow: hidden;
			position: relative;
			margin-bottom: 24px;
			border-radius: 12px;
			max-width: 550px;
			margin: auto;
			margin-top: 20px;

			&:hover {

				cursor:pointer;

				.upcoming-title-dates{
					-webkit-transition: all 0.5s ease-in-out;
					transition: all 0.5s ease-in-out;
					background: #fff;
					color: #17181B !important;
					font-weight: bold;
				}

				.upcoming-title-stats{
					background: #fff !important;
					box-shadow: none !important;
				}

				.upcoming-description{
					-webkit-transition: all 0.5s ease-in-out;
					transition: all 0.5s ease-in-out;
				}

				.upcoming-text{
					background-color: rgba(0,0,0,0.9);
					bottom: 0px;
					-webkit-transition: all 0.5s ease-in-out;
					transition: all 0.5s ease-in-out;
				}

				.upcoming-trip-btn{
					-webkit-transition: all 0.5s ease-in-out;
					transition: all 0.5s ease-in-out;
				}

				.see-more-btn{
					display: none;
				}

				.upcoming-stats-icon{
					color: #000 !important;
				}
			}

			.upcoming-img{
				width: 100%;
				height: 260px;
			}

			.see-more-btn{
				display: none;
				font-size: 25px;
				margin-right: 5px;
				height: 24px;
				width: 34px;
				bottom: 61px;
				right: -5px;
				position: absolute;
				padding-left: 11px;
				z-index: 1;
				background: #17181B;;
				font-family: proxima_regular;
				padding-bottom: 34px;
				border-bottom-left-radius: 41px;
				border-top-left-radius: 41px;
				border: 2px solid #fff;
				border-right: none;
			}

			.upcoming-text{
				width: 100%;
				bottom: -194px;
				position: absolute;
				height: 100%;
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;

				.upcoming-title{
					padding-top: 12px;
					padding-left: 20px;
					padding-right: 20px;
					font-family: proxima_black;
					color: #fff;
					text-align: left;
					font-size: 1.5em;
					line-height: 24px;
					max-width: 440px;

					line-height: 28px;
					margin: auto;
				}

				.upcoming-title-location{
					font-family: proxima_regular;
					color: #fff;
					padding-left: 24px;
					padding-right: 20px;
					text-align: left;
					font-size: 1.1em;
					padding-bottom: 12px;
					padding-top: 6px;
				}

				.upcoming-details{
					height: 214px;

					.upcoming-title-dates{
						-webkit-transition: all 0.5s ease;
						transition: all 0.5s ease;
						font-family: proxima_regular;
						color: #fff;
						padding-top: 12px;
						padding-left: 8px;
						padding-right: 8px;
						text-align: center;
						font-size: 1em;
						line-height: 15px;

						.upcoming-title-stats{
							width: 32%;
							display: inline-table;
							background: rgba(0,0,0,0.8);
							padding-top: 7px;
							padding-bottom: 8px;
							padding-left: 2px;
							padding-right: 2px;
							border-top-left-radius: 42px;
							border-top-right-radius: 42px;
							box-shadow: 2px 1px 6px #000;

							.upcoming-stats-icon{
								color: #fff;
								padding: 5px;
								border-radius: 100px;
								border: 2px solid #aa4b41;
								font-size: 10px;
								margin-bottom: 4px;
							}
						}
					}

					.upcoming-description{
						-webkit-transition: all 0.5s ease;
						transition: all 0.5s ease;
						font-family: proxima_regular;
						color: #fff;
						padding-left: 20px;
						padding-right: 20px;
						text-align: left;
						font-size: 1em;
						padding-top: 8px;
						max-width: 440px;
						margin: auto;
					}

					.upcoming-trip-btn{
						font-family: proxima_bold;
						text-align: center;
						font-size: 1.1em;
						max-width: 160px;
						margin: auto;
						display: block;
						margin-top: 12px;
						color: #fff;
						min-height: 40px;
						-webkit-transition: all 0.5s ease;
						transition: all 0.5s ease;
						background-color: transparent;
						padding-top: 7px;
						border-radius: 0px;
						border: 2px solid #aa4b41;

						&:hover{
							background-color: rgba(0,0,0,0.5);
							-webkit-transition: all 0.5s ease-in-out;
							transition: all 0.5s ease-in-out;
							max-width: 180px;
							color: #fff;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 771px){
	#upcoming-trips .upcoming-trips-container .upcoming-trip .see-more-btn{
		display: block;
	}

	#upcoming-trips .upcoming-trips-header .upcoming-trips-title .upcoming-trips-subtitle{
		font-size: 14px;
	}
}

@media screen and (max-width: 500px){

	.upcoming-trips-container .upcoming-trip-block{
		padding-left: 8px;
		padding-right: 8px;
	}

	#upcoming-trips .upcoming-trips-container .upcoming-trip{
		border-radius: 0px;
	}

	#upcoming-trips .upcoming-trips-container .upcoming-trip .upcoming-text .upcoming-title{
		line-height: 20px;
		font-size: 1.1em;
		max-width: 100%;
	}

	#upcoming-trips .upcoming-trips-container .upcoming-trip .upcoming-text .upcoming-details .upcoming-title-dates{
		font-size: 0.9em;
		padding-bottom: 0px;
		min-height: 0px;
	}

	#upcoming-trips .upcoming-trips-container .upcoming-trip .upcoming-text .upcoming-title-location{
		padding-bottom: 8px;
		padding-top: 6px;
	}

	#upcoming-trips .upcoming-trips-container .upcoming-trip .upcoming-text .upcoming-details .upcoming-description{
		font-size: 1em;
		line-height: 18px;
	}

	#upcoming-trips .upcoming-trips-container .upcoming-trip .upcoming-text .upcoming-details .upcoming-title-dates .upcoming-title-stats{
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
}