.col-md-12.apply-hero{style: "background: url('#{asset_path("background/gapcliffs.jpeg")}') center center no-repeat"}
  .apply-header{style: "max-width: 500px; margin: auto;"}
    - if params[:type] == 'adventure'
      Drop us a line.

    - elsif params[:type] == 'socaltrifecta'
      Try the Trifecta!

    - elsif params[:type] == 'morocco'
      Keep me updated on the Morocco Trip!

    - elsif params[:type] == 'kyrgyzstan'
      Keep me updated on the Kyrgyz Trip!

    - elsif params[:type] == 'baja'
      Keep me updated on the Baja Trip!

    - elsif params[:type]
      Reserve your Spot:
      %br
      = link_to params[:type].capitalize, "/#{params[:type]}", target: '_blank'
    - else
      Contact Us

  .col-md-12.application-container
    %br        
    = form_for :contact, url: {:controller => "contacts", :action => "create"}, method: "post", remote: true do |f|
      %input{:name => "contact[contact_type]", :type => "hidden", value: params[:type]}

      .col-lg-12
        .well.well-sm.apply-form-box
          .form-group
            .input-group.apply-form-field-container
              %input#InputName.form-control.form-field-box{:name => "contact[name]", :placeholder => "Your Name", :required => "", :type => "text"}
          .form-group
            .input-group.apply-form-field-container
              %input#InputEmailFirst.form-control.form-field-box{:name => "contact[email]", :placeholder => "Your Email", :required => "", :type => "email"}
          
          .form-group
            .input-group.apply-form-field-container
              %textarea#InputMessage.form-control.form-field-box{:name => "contact[message]", :placeholder => "Introduce yourself", :required => "", :rows => "5"}

          .form-group.text-center
            %input#submit.btn.btn-success.application-form-btn{:name => "submit", :type => "submit", :value => "Send it !"}


    .thanks
      Thanks for reaching out! Hang tight, you'll hear back shortly. 