/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap_configuration";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#loader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 999;
	display: none;

	.fa {
		font-size: 60px;
    position: static;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 21%;
	}
}


// Give everything in 'yield' margin to separate it.
.yield {
  margin: 30px;
}

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

//->Prelang (user_login:devise)
.form-user {
  max-width: 450px;
}

#myModal {

	// put any crazy modal css here, or maybe best to create a new css file, then require that file in your app.css
}

.modal-dialog{
	width: 60%;
	margin-top: 0px;
	margin-bottom: 0px;
	min-height: 1000px;
	background: #fff;
}

.modal-open {
  overflow: scroll;
}

a:hover {
	text-decoration: none;
	opacity: 0.9;
}

.fa-chevron-left {
	position: absolute;
	top: 400px;
	left: -80px;
  	cursor: pointer;
	font-size: 65px;
	color: #fff;

	&:hover {
		opacity: 0.5;
	}
}

.fa-chevron-right {
  position: absolute;
  top: 400px;
  right: -80px;
  cursor: pointer;
  font-size: 65px;
  color: #fff;

  &:hover {
  	opacity: 0.5;
  }
}

.close {
	color: #fff;
	z-index: 9999999;
	opacity: 1.0;
	font-size: 24px;
  	right: 0px;
  	position: fixed;
	margin-top: 4px;
	margin-right: 8px; 

}

.close:hover, .close:focus {
	color: #fff !important;
	opacity: 0.5;
}

.thanks {
	display: none;
	font-family: proxima_bold;
	color: #fff;
	font-size: 2em;
	position: relative;
	max-width: 500px;
	margin: auto;
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media screen and (max-width: 991px){
	.modal-dialog{
		width: 600px;
	}
}

@media screen and (max-width: 767px){
	.modal-dialog{
		width: 400px;
		margin: auto;
	}
}

@media screen and (max-width: 550px){
	.modal-dialog{
		width: 90%;
		margin-left: 0px;
	}

	.fa-chevron-left{
		padding-top: 30px;
		left: 36%;
		font-size: 40px;
		color: #212326;
	}

	.fa-chevron-right{
		padding-top: 30px;
		right: 36%;
		font-size: 40px;
		color: #212326;
	}
}

@media screen and (max-width: 450px){
	.fa-chevron-left{
		top: 370px;
	}

	.fa-chevron-right{
		top: 370px;
	}
}

@media screen and (max-width: 350px){
	.fa-chevron-left{
		top: 320px;
	}

	.fa-chevron-right{
		top: 320px;
	}
}
