.apply-hero{
	min-height: 800px !important;
	background-size: cover !important;
  	margin-top: -68px;

  	.apply-header{
  		font-family: proxima_thin;
  		font-size: 4em;
  		color: #212326;
  		padding-top: 200px;
  		text-align: center;
  	}

  	.application-container{
  		background-color: transparent;
  		border-radius: 4px;
  	}

  	.apply-form-box{
  		background: transparent;
  		border: none;
  		box-shadow: none;
  		padding: 0px;

  		.apply-form-field-container{
  			min-width: 500px;
  			margin: auto !important;

	  		.form-field-box{
	  			background: rgba(255,255,255,0.9);
	  			border: none;
	  			border-radius: 4px;
	  			box-shadow: 1px 1px 3px #333;
	  		}
	  	}

	  	.application-form-btn{
	  		min-width: 190px;
			color: #fff;
			margin: auto;
			text-align: center;
			height: 50px;
			font-family: proxima_bold;
			font-size: 1.2em;
			margin-top: 12px;
			padding-top: 11px;
			background: #aa4b41;
			box-shadow: 2px 2px 3px #000;
			letter-spacing: -0.5px;
			border: none;

			-webkit-transition: .2s ease-in-out;
			-moz-transition: .2s ease-in-out;
			-o-transition: .2s ease-in-out;

			&:hover{
				box-shadow: 0px 0px 0px #000;
			}	  		
	  	}
  	}
}

@media screen and (max-width: 600px){
	.apply-hero .apply-header{
		max-width: 300px !important;
		font-size: 2.4em;
		margin: auto;
		line-height: 40px;
		padding-top: 120px;
	}

	.apply-hero .apply-form-box .apply-form-field-container{
		min-width: 224px;
	}
}