.basecamp-content{
	position: relative;
	background: #fff;
	border: none;
	background-clip: padding-box;
	outline: 0;
	height: 100%;

	.basecamp-header{
		padding: 15px;
		border-bottom: 4px solid #aa4b41;
		max-width: 500px;
		margin: auto;
		margin-bottom: 40px;

		.modal-title{
			font-family: proxima_thin;
			font-size: 2.5em;
			color: #212326;
		}
	}

	.modal-img-container{
		max-width: 700px;
		margin: auto; 

		.modal-img {
			width: 100%;
			margin: auto;
			background-repeat: no-repeat;
			background-size: cover;
		    background-position: center center;
		}

		.modal-body{
			font-family: proxima_thin;
			font-size: 1.8em;
			color: #212326;
			text-align: center;
			max-width: 600px;
			margin: auto;
			padding-top: 40px;
			padding-bottom: 100px;
		}
	}
}

@media screen and (max-width: 767px){
	.modal-body{
		font-size: 1.5em !important;
	}

	.basecamp-header{
		max-width: 300px !important;

		.modal-title{
			font-size: 1.8em !important;
		}
	}
}

@media screen and (max-width: 550px){

	.basecamp-header{
		max-width: 85% !important;

		.modal-title{
			font-size: 1.5em !important;
		}
	}

	.modal-body{
		font-size: 1.4em !important;
		padding-left: 4px !important;
		padding-right: 4px !important;
	}

	.basecamp-content .modal-body{
		margin-top: 80px !important;
	}
}
