#footer {
	width: 100%;
	position: relative;
	background-color: #fff;
	overflow-y: hidden !important;
	padding: 8px 0 2px 0;

	.container {
		font-size: 1.2em;
		padding-bottom: 72px;

		.footer-logo{
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    position: relative;
		    width: 200px;
		    height: 200px;
		    background-image: asset-url("logos/headerlogo.png");
		    margin: auto;
		    margin-bottom: 20px;
		    margin-top: 42px;
 		}

		.footer_text {
			color: #212326;
			padding-top: 30px;
			padding-bottom: 20px;
			padding-left: 0px;
			padding-right: 0px;

			.footer-contact-section{
				padding-top: 50px;
			}

			.footer-upcoming-trips{
				padding-top: 24px;
			}

			#footer-text-title{
				text-decoration: none;
				color: #212326;
				font-family: proxima_bold;
				font-size: 1.2em;
				padding-bottom: 8px;
			}

			.footer-header-underline{
				border-bottom: 2px solid #aa4b41;
				max-width: 80px;
				margin: auto;
				margin-bottom: 8px;
			}

			.footer-trip-link{
				text-decoration: none;
				color: #212326;
				font-family: proxima_regular;
				font-size: 1.0em;
				padding-bottom: 8px;
			}

			.col-md-6 {
				padding-top: 2px;
				font-family: 'proxima_thin';
			}

			.dash {
				display: inline;
			}

			a {
				text-decoration: none;
				color: #212326;

				&:hover{
					text-decoration: underline;
				}

				.fa {
					margin-right: 30px;
					font-size: 1.6em;
					opacity: 0.5;
					color: #212326;

					&:hover {
						color: #fff;
						opacity: 1;
					}
				}
			}

			.social-row {
				margin-top: 10px;
				margin-bottom: 10px;

				a:hover {
					opacity: 0.5;
				}
			}	
		}

		.footer-email-container{
			border: 2px solid #aa4b41;
			border-radius: 20px;
			width: 280px;
			margin: auto;
			height: 36px;
			padding-right: 3px;
			margin-bottom: 20px;

			.enter-email-field{
				border-radius: 4px;
				display: block;
				width: 220px;
			}

			.email-form-button{
				border: none;
				background-color: #aa4b41;
				font-family: proxima_bold; 
				-webkit-transition: all 0.4s ease;
				transition: all 0.4s ease;
				width: 60px;
				border-radius: 14px;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;

				&:hover{
					background-color: rgba(170, 75, 65, 0.7);
					-webkit-transition: all 0.4s ease;
					transition: all 0.4s ease;
				}
			}
		}
	}
}

@media screen and (max-width: 991px){
	.footer-logo-section{
		display: none;
	}
}

@media screen and (max-width: 500px){
	#footer .container .footer_text a{
		font-size: 1.2em;
	}

	#footer .container .footer-email-container{
		width: 230px;
		margin-bottom: 70px;
	}

	#footer .container .footer-email-container .email-form-button{
		border-radius: 20px !important;
		width: 80px;
		margin-top: 10px;
	}
}