#footer {
	width: 100%;
	position: relative;
	background-color: #fff;
	overflow-y: hidden !important;
	padding: 8px 0 2px 0;

	.container {
		font-size: 1.2em;

		.footer-logo{
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
		    position: relative;
		    width: 200px;
		    height: 200px;
		    background-image: asset-url("logos/headerlogo.png");
		    margin: auto;
		    margin-bottom: 20px;
 		}

		.footer_text {
			color: #212326;
			padding-top: 30px;
			padding-bottom: 20px;
			padding-left: 0px;
			padding-right: 0px;

			#footer-text-title{
				text-decoration: none;
				color: #212326;
				font-family: proxima_bold;
				font-size: 1.2em;
				padding-bottom: 8px;
			}

			.col-md-6 {
				padding-top: 2px;
				font-family: 'proxima_thin';
			}

			.dash {
				display: inline;
			}

			a {
				text-decoration: none;
				color: #212326;
				font-family: proxima_thin;
				font-size: 1.2em;

				&:hover{
					text-decoration: underline;
				}

				.fa {
					margin-right: 30px;
					font-size: 1.6em;
					opacity: 0.5;
					color: #212326;

					&:hover {
						color: #fff;
						opacity: 1;
					}
				}
			}

			.social-row {
				margin-top: 20px;
				margin-bottom: 10px;

				a:hover {
					opacity: 0.5;
				}
			}	
		}
	}
}

@media screen and (max-width: 500px){
	#footer .container .footer_text a{
		font-size: 0.95em;
	}
}