.location-hero {
  margin-bottom: 0px !important;
}

.location-hero-fix {
	min-height: 750px;
	background-size: cover !important;
	margin-top: -68px;
}

.location-slow-scroll {
	position: absolute;
	width: 100%;
	top: 0px;
	margin-top: 310px;

	#location-text {
		position: relative;
		text-align: center;
		width: 100%;
		margin-bottom: 12px;
		color: #212326;
		background: transparent;
		padding-bottom: 20px;
		max-width: 1000px;
		border-radius: 12px;
		margin: auto;

    #location-header{
			font-family: proxima_black;
			font-size: 3.8em;
		}

		#location-explanation {
			max-width: 570px;
			margin: 0 auto;
			font-size: 1.6em;
			font-family: proxima_light;
		}

		#created-by{
			font-size: 1.2em;
			font-family: proxima_bold;
			padding-top: 20px;
		}
	}
}  


.location-details{
	width: 100%;
	background: #fff;

	.location-description{
		padding-top: 80px;
		padding-bottom: 80px;

		.description-title{
			font-family: proxima_black;
			font-size: 3.2em;
			color: #212326;
			text-align: center;
			border-bottom: 4px solid #aa4b41;
			max-width: 480px;
			margin: auto;
		}

		.description-body{
			font-family: proxima_thin;
			font-size: 1.4em;
			color: #212326;
			text-align: center;
			max-width: 700px;
			margin: auto;
			padding-top: 40px;
		}
	}

	.location-itinerary{
		width: 100%;
		background: #212326;
		min-height: 400px;
		padding-right: 0px;
		padding-left: 0px;

		.mission-block{
		
			.itinerary-header{
				font-family: proxima_black;
				font-size: 3.2em;
				color: #fff;
				text-align: center;
				border-bottom: 4px solid #aa4b41;
				max-width: 300px;
				margin: auto;
				margin-top: 150px;
			}

			.itinerary-body{
				font-family: proxima_thin;
				font-size: 1.4em;
				color: #fff;
				text-align: center;
				max-width: 520px;
				margin: auto;
				padding-top: 40px;
			}

			.final-sentence{
				font-family: proxima_bold;
				font-size: 1.4em;
				color: #fff;
				text-align: center;
				max-width: 700px;
				margin: auto;
			}
		}

		.map-block{
			padding-right: 0px;
			padding-left: 0px;

			.route-map{
				min-height: 570px;
				width: 100%;
			}
		}
	}

	.destination-container{
		padding-top: 80px;
		padding-bottom: 80px;
		background: #212326;

		.basecamps-title{
			font-family: proxima_black;
			font-size: 3.2em;
			color: #fff;
			text-align: center;
			border-bottom: 4px solid #aa4b41;
			max-width: 400px;
			margin: auto;
			margin-bottom: 80px;
		}

		.destination-image{
			min-height: 360px;
			max-width: 590px;
			border: 8px solid #212326;
			padding: 0px;
			margin: auto;

			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;

			&:hover{
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;

				.destination-description{
					background: rgba(33,35,38,0.8);
					-webkit-transition: .5s ease-in-out;
				}

				.destination-subtitle{
					opacity: 1;
					-webkit-transition: .5s ease-in-out;
				}

				.destination-body{
					opacity: 1;
					-webkit-transition: .5s ease-in-out;
				}

				.destination-button{
					cursor: pointer;
					opacity: 1;
					-webkit-transition: .5s ease-in-out;	
				}

				.destination-title{
					-webkit-transition: .5s ease-in-out;
					max-width: 100%;
					margin-top: 0px !important;
					padding-top: 20px;
					padding-bottom: 20px;
					background: transparent;
					border: none;
					margin-left: 0px;
					box-shadow: none;
				}

				.destination-title-underline{
					opacity: 1;
					-webkit-transition: .5s ease-in-out;
				}
			}
		}
			
		.destination-description{
			-webkit-transition: .5s ease-in-out;
			min-height: 360px;
			border: 8px solid transparent;
			border-left: none;
			border-right: none;

			.destination-title{
				font-family: proxima_bold;
				font-size: 3em;
				color: #fff;
				text-align: center;
				margin-top: 50px;
				right: 20px;
				background: rgba(170,75,65,0.85);
				max-width: 330px;
				-webkit-transition: .5s ease-in-out;
				border-bottom: 0px solid #aa4b41;
				margin-left: -12px;
				box-shadow: -2px 2px 4px #000;
			}

			.destination-title-underline{
				border-bottom: 4px solid #aa4b41;
				max-width: 150px;
				margin: auto;
				opacity: 0;
				-webkit-transition: .5s ease-in-out;
			}

			.destination-subtitle{
				font-family: proxima_bold;
				font-size: 1.4em;
				color: #fff;
				text-align: center;
				right: 20px;
				max-width: 330px;
				-webkit-transition: .5s ease-in-out;
				opacity: 0;
				max-width: 550px;
				padding-top: 20px;
			}

			.destination-body{
				font-family: proxima_thin;
				text-align: center;
				color: #fff;
				font-size: 1.2em;
				padding-left: 12px;
				padding-right: 12px;
				padding-top: 20px;
				padding-bottom: 30px;
				max-width: 550px;
				margin: auto;
				opacity: 0;
				-webkit-transition: .5s ease-in-out;
			}

			.destination-button{
				font-family: proxima_thin;
				text-align: center;
				color: #fff;
				font-size: 1.0em;
				padding: 8px;
				opacity: 0;
				-webkit-transition: .3s ease-in-out;
				background: rgba(170,75,65,0.9);
				width: 100%;
				max-width: 140px;
				margin: auto;

				&:hover{
					background: rgba(170,75,65,0.5);
					border-radius: 8px;
				}
			}
		}

		.destination-subtitle-mobile{
			display: none;
			font-family: proxima_bold;
			font-size: 1.4em;
			color: #fff;
			text-align: center;
			right: 20px;
			-webkit-transition: .5s ease-in-out;
			padding-top: 20px;
		}

		.destination-underline-mobile{
			border-bottom: 4px solid #aa4b41;
			max-width: 120px;
			margin: auto;
			-webkit-transition: .5s ease-in-out;
			display: none;
			margin-top: 20px;
		}

		.destination-body-mobile{
			display: none;
			font-family: proxima_thin;
			text-align: center;
			color: #fff;
			font-size: 1.2em;
			padding-left: 12px;
			padding-right: 12px;
			padding-top: 20px;
			padding-bottom: 20px;
			max-width: 550px;
			margin: auto;
		}
	}

	.location-how{
		min-height: 700px;
		background-size: cover !important;
		padding-top: 80px;
		padding-bottom: 80px;
	
		.location-how-header{
			font-family: proxima_black;
			font-size: 3.2em;
			color: #fff;
			text-align: center;
			border-bottom: 4px solid #aa4b41;
			max-width: 420px;
			margin: auto;
			margin-bottom: 80px;
		}

		.how-box-container{
			margin: auto;

			.how-box{
				background: transparent;
				min-height: 300px;
			
				.how-box-text{
					margin: 20px;
					background: rgba(33, 35, 38, 0.75);
					border-radius: 4px;
					min-height: 300px;

					.how-box-title{
						font-family: proxima_thin;
						font-size: 2.2em;
						text-align: center;
						padding: 10px;
						color: #fff;
						padding-top: 74px;
					}

					.how-box-body{
						font-family: proxima_thin;
						font-size: 1.2em;
						text-align: center;
						padding: 20px;
						color: rgba(255,255,255,0.5);
					}
				}
			}
		}
	}

	.location-who{
		padding-top: 80px;
		padding-bottom: 80px;
		min-height: 600px;
		background: #fff;

		.location-who-header{
			font-family: proxima_black;
			font-size: 3.2em;
			color: #212326;
			text-align: center;
			border-bottom: 4px solid #aa4b41;
			max-width: 300px;
			margin: auto;
			margin-bottom: 80px;
		}

		.who-container{
			margin-top: 20px;

			&:hover{

				.who-image{
					border: 0px solid #fff;
					-webkit-transition: .3s ease-in-out;
					-moz-transition: .3s ease-in-out;
					-o-transition: .3s ease-in-out;
				}

				.who-name{
					border-bottom: 2px solid #212326 !important;
					-webkit-transition: .3s ease-in-out;
					-moz-transition: .3s ease-in-out;
					-o-transition: .3s ease-in-out;
					max-width: 300px !important;
				}
			}

			.who-image{
				border-radius: 50%;
				min-height: 260px;
				width: 260px;
				margin: auto;
				float: none;
				border: 10px solid #fff;

				-webkit-transition: .3s ease-in-out;
				-moz-transition: .3s ease-in-out;
				-o-transition: .3s ease-in-out;
			}

			.who-text{
				min-height: 200px;
				text-align: center;
				max-width: 300px;
				margin: auto;

				.who-name{
					font-family: proxima_thin;
					color: #aa4b41;
					font-size: 2.4em;
					padding-top: 10px;
					border-bottom: 2px solid transparent;
					max-width: 120px;
					margin: auto;

					-webkit-transition: .3s ease-in-out;
					-moz-transition: .3s ease-in-out;
					-o-transition: .3s ease-in-out;
				}

				.who-title{
					font-family: proxima_regular;
					color: #212326;
					font-size: 1.4em;
					padding-top: 10px;
				}

				.who-description{
					font-family: proxima_thin;
					color: #212326;
					font-size: 1.2em
				}

				.who-join{
					font-family: proxima_black;
					color: #aa4b41;
					font-size: 3em;
					text-align: center;
					margin-top: 50px;
				}

				.who-join-description{
					font-family: proxima_bold;
					color: #212326;
					font-size: 1.2em;
					text-align: center;
				}
			}
		}
	}

	.location-join{
		padding-top: 80px;
		padding-bottom: 80px;
		min-height: 320px;
		background: #aa4b41;

		.who-join{
			font-family: proxima_black;
			color: #fff;
			font-size: 3em;
			text-align: center;
		}

		.who-join-description{
			font-family: proxima_thin;
			color: #fff;
			font-size: 2em;
			text-align: center;
		}

		.join-button{
			font-family: proxima_thin;
			text-align: center;
			color: #fff;
			font-size: 1.3em;
			padding: 8px;
			-webkit-transition: .3s ease-in-out;
			background: rgba(33,35,38,0.2);
			border: 2px solid #fff;
			width: 100%;
			max-width: 140px;
			margin: auto;
			margin-top: 40px;
			display: block;

			&:hover{
				background: rgba(255,255,255,0.2);
				border: 2px solid rgba(33,35,38,0.8);
			}

			.btn, .btn:active, .btn:hover{
				text-decoration: none;
			}
		}
	}
}
.location-inclusions{
	padding-top: 80px;
	padding-bottom: 80px;
	min-height: 700px;
	background-size: cover !important;

	.location-inclusions-header{
		font-family: proxima_black;
		font-size: 3.2em;
		color: #fff;
		text-align: center;
		border-bottom: 4px solid #aa4b41;
		max-width: 420px;
		margin: auto;
		margin-bottom: 40px;
	}

	.location-date{
		font-family: proxima_bold;
		font-size: 3em;
		color: #fff;
		text-align: center;
		border-bottom: 4px solid #aa4b41;
		max-width: 550px;
		margin: auto;
		background: #aa4b41;
		margin-bottom: 40px;
	}

	.inclusions-container{
		background: rgba(33,35,38,0.7);
		min-height: 440px;
		border-radius: 4px;

		.inclusions-title{
			font-family: proxima_bold;
			font-size: 2.4em;
			color: #fff;
			text-align: center;
			padding-top: 20px;
		}

		.inclusions-description{
			font-family: proxima_thin;
			font-size: 20px;
			color: #fff;
			text-align: center;
			padding-top: 20px;
			max-width: 400px;
			margin: auto;
		}
	}
}

@media screen and (min-width: 992px){
	#location-header-mobile{
		display: none;
	}

	#location-explanation-mobile{
		display: none;
	}
}


@media screen and (max-width: 991px){
	#location-header{
		display: none;
	}

	#location-explanation{
		display: none;
	}

	#location-header-mobile{
		display: block;
		font-family: proxima_black;
		font-size: 3em;
		color: #212326;
		text-align: center;
		line-height: 40px;
	}

	#location-explanation-mobile{
		display: block;
		font-family: proxima_light;
		font-size: 1.6em;
		color: #212326;
		text-align: center;
		max-width: 400px;
		margin: auto;
		padding-top: 20px;
	}

	.location-slow-scroll{
		margin-top: 200px;
	}

	.location-details .location-itinerary{
		padding-top: 1px;
	}

	.location-details .location-itinerary .map-block .route-map{
		margin-top: 80px;
	}

	.location-details .location-how .how-box-container .how-box{
		min-height: 0px;
		margin-top: 0px;
		max-width: 500px;
		margin: auto;
	}

	.location-details .location-how .how-box-container .how-box .how-box-text{
		min-height: 0px;
	}

	.location-details .location-how .how-box-container .how-box .how-box-text .how-box-title{
		padding-top: 20px;
	}

	.location-details .location-how .how-box-container .how-box .how-box-text .how-box-body{
		max-width: 400px;
		margin: auto;
		padding-top: 0px;
	}

	.location-details .location-who .who-container .who-image{
		margin-top: 50px !important;
	}
}

@media screen and (max-width: 771px){

	.location-details .destination-container .destination-description .destination-subtitle{
		display: none;
	}

	.location-details .destination-container .destination-image{
		&:hover{
			.destination-title{
				margin-top: 40px !important;
				margin-bottom: 0px !important;
			}

			.destination-title-underline{
				margin-bottom: 30px !important;
			}
		}
	}

	.destination-description .destination-title{
		margin: auto !important;
		margin-top: 100px !important;
		background: transparent !important;
		text-shadow: 1px 1px 2px #000;
		margin-bottom: 24px !important;
		box-shadow: none !important;
	}

	.destination-body-mobile{
		display: block !important;
	}

	.destination-underline-mobile{
		display: block !important;
	}

	.destination-subtitle-mobile{
		display: block !important;
	}

	.destination-body{
		display: none;
	}

	.destination-button{
		opacity: 1 !important;
		margin-top: 20px !important;
		box-shadow: 1px 1px 4px #333;
		border: 1px solid #fff;
	}

	.location-details .location-join .who-join{
		font-size: 2.4em;
	}

	.location-details .location-join .who-join-description{
		font-size: 1.6em;
	}
}

@media screen and (max-width: 500px){
	
	.location-hero-fix{
		min-height: 600px;
	}

	.location-slow-scroll{
		margin-top: 140px;
	}

	#location-header-mobile{
		font-size: 2em;
	}

	#location-explanation-mobile{
		font-size: 1.2em;
		max-width: 300px;
	}

	.location-details .location-description .description-title{
		font-size: 2.8em;
		max-width: 300px;
	}

	.location-details .location-description .description-body{
		font-size: 1.2em;
		max-width: 300p
	}

	.location-details .location-itinerary .final-sentence{
		max-width: 350px;
	}

	.location-details .location-itinerary .itinerary-header{
		font-size: 2.2em;
		max-width: 350px;
	}

	.location-details .location-itinerary .itinerary-body{
		font-size: 1.2em;
		max-width: 350px;
	}	

	.destination-description .destination-title{
		margin-top: 90px !important;
		font-size: 2.2em !important;
	}

	.location-details .destination-container .basecamps-title{
		font-size: 2.2em;
		max-width: 300px;
	}

	.location-details .destination-container .destination-image{
		min-height: 310px;
	}

	.location-details .destination-container .destination-description{
		min-height: 310px;
	}

	.location-details .destination-container .destination-description .destination-subtitle{
		font-size: 1.1em;
	}

	.location-details .location-how .location-how-header{
		font-size: 2.2em;
		max-width: 300px;
	}

	.location-details .location-how .how-box-container .how-box .how-box-text{
		margin: 0px;
		margin-top: 10px;
	}

	.location-details .location-how .how-box-container{
		padding: 0px;
	}

	.location-details .location-how .how-box-container .how-box .how-box-text .how-box-body{
		font-size: 1.0em;
	}

	.location-details .location-inclusions .location-inclusions-header{
		font-size: 2.4em;
	}

	.location-details .location-inclusions .location-date{
		font-size: 1.6em;
	}

	.location-details .location-inclusions .inclusions-container .inclusions-title{
		font-size: 1.6em;
	}

	.location-details .location-inclusions .inclusions-container .inclusions-description{
		font-size: 15px;
		padding-bottom: 20px;
	}

	.location-details .location-join .who-join{
		font-size: 3em;
	}

	.location-details .location-join .who-join-description{
		font-size: 1.3em;
		padding-top: 18px;
	}

	.destination-button{
		opacity: 1 !important;
		margin-top: 0px !important;
	}
}