.navbar.logged-out {
	font-family: proxima_bold;
	background: transparent;
	padding: 12px 0 4px 14px;
	z-index: 1001;
	border: none;
	margin-bottom: 0px;

	.navbar-brand {
		background: asset-url("logos/headerlogo.png");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 58px !important;
	}

	.header-button{
		margin-right: 20px;

		button.btn-default {
			border: none;
			background-color: transparent;
		}

		&.bordered.btn-default {
			padding-top: 4px;
			padding-bottom: 4px;
			margin-top: 10px;
		}
	}

	.btn.btn-default {
		color: #fff;
		border: 2px solid #fff;
		border-radius: 4px;
		background-color: transparent;
		font-family: proxima_bold;
		background: rgba(0,0,0,0.7);
		margin-top: 8px;	
		font-size: 14px;

		-webkit-transition: .2s ease-in-out;
		-moz-transition: .2s ease-in-out;
		-o-transition: .2s ease-in-out;

		&:hover {
			background: rgba(255,255,255,0.6);
			border-color: rgba(255,255,255,0.3);
			color: #000;
		}
	}

	.trip-dropdown{
		background: transparent !important;
		color: #fff !important;
		font-size: 14px;
		margin-top: 2px;
		margin-right: 8px;
		text-shadow: 1px 1px 1px #333;


		&:hover{
			color: rgba(255,255,255,0.8);
		}
	}

	.trip-dropdown-content{
		background: #212326;
		min-width: 178px;
		margin-right: 22px;
		padding: 0px 0;
		border: none;

		.trip-dropdown-title{
			color: #fff;
			text-align: center;

			&:hover{
				color: #212326;
			}
		}
	}

	.mobile-navbar-navigation{
		background: transparent;
		margin-top: 5px;
		-webkit-transition: .2s ease-in-out;
		-moz-transition: .2s ease-in-out;
		-o-transition: .2s ease-in-out;
		border: none;

		&:hover{
			background: transparent;
		}

		.icon-bar{
			background-color: #aa4b41;
		}
	}

	.mobile-navbar-menu{
	}

	small.help-block {
		text-align: center;
	}

	.login_in_sign_up_btn {
		border: 2px solid #fff;
		background-color: transparent;
		padding-top: 3px;
		padding-bottom: 3px;
		margin-top: 10px;

		&:hover{
			border: 2px solid #aa4b41;
		}
	}
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border: none;
}

.navbar-collapse{
	box-shadow: none !important;
}

@media screen and (max-width: 767px){
	.navbar.logged-out .navbar-brand{
		margin-top: -6px;
		margin-left: 5px;
		margin-bottom: 11px;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		background: #fff;
		box-shadow: 0px 26px 30px #000 !important
	}

	.navbar.logged-out{
		padding: 12px 0 0px 0px;
		background: #fff;
	}

	.navbar.logged-out .btn.btn-default{
		width: 100%;
		background: transparent;
		font-size: 18px;
		color: #212326;
		border: none;

		&:hover{
			background: transparent;
			color: rgba(33,35,38,0.8);
		}
	}

	.navbar.logged-out .trip-dropdown{
		font-size: 18px;
		color: #212326 !important;
		text-align: center;
		text-shadow: none;

		&:hover{
			color: rgba(33,35,38,0.8);
		}
	}
}