.navbar.logged-out {
	font-family: proxima_bold;
	background: transparent;
	padding: 4px 0 4px 10px;
	z-index: 1001;
	border: none;
	margin-bottom: 0px;

	.navbar-brand {
		background: asset-url("logos/header_logo.png");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 48px !important;
		margin-top: 2px;
	}

	.header-button{
		margin-right: 20px;

		button.btn-default {
			border: none;
			background-color: transparent;
		}

		&.bordered.btn-default {
			padding-top: 4px;
			padding-bottom: 4px;
			margin-top: 10px;
		}
	}

	.btn.btn-default {
		color: #fff;
		border: 2px solid #fff;
		border-radius: 4px;
		background-color: transparent;
		font-family: proxima_bold;
		background: rgba(0,0,0,0.7);

		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;

		&:hover {
			background: rgba(255,255,255,0.3);
			border-color: rgba(255,255,255,0.3);
		}
	}

	small.help-block {
		text-align: center;
	}

	.login_in_sign_up_btn {
		border: 2px solid #fff;
		background-color: transparent;
		padding-top: 3px;
		padding-bottom: 3px;
		margin-top: 10px;

		&:hover{
			border: 2px solid #aa4b41;
		}
	}
}