.adventure-hero {
  margin-bottom: 0px !important;
}

.adventure-hero-fix {
	min-height: 750px;
	background-size: cover !important;
	margin-top: -60px;
}

.adventure-slow-scroll {
	position: absolute;
	width: 100%;
	top: 0px;
	margin-top: 310px;

	#adventure-text {
		position: relative;
		text-align: center;
		width: 100%;
		margin-bottom: 12px;
		color: #212326;
		background: transparent;
		padding-bottom: 20px;
		max-width: 1000px;
		border-radius: 12px;
		margin: auto;

    #adventure-header{
		font-family: proxima_black;
		font-size: 3.8em;
	}

	#adventure-explanation {
		max-width: 570px;
		margin: 0 auto;
		font-size: 1.6em;
		font-family: proxima_light;
	}
  }
}  


.adventure-details{
	position: absolute;
	width: 100%;
	background: #fff;

	.adventure-description{
		padding-top: 80px;
		padding-bottom: 80px;

		.description-title{
			font-family: proxima_black;
			font-size: 3.2em;
			color: #212326;
			text-align: center;
			border-bottom: 4px solid #aa4b41;
			max-width: 480px;
			margin: auto;
		}

		.description-body{
			font-family: proxima_thin;
			font-size: 1.4em;
			color: #212326;
			text-align: center;
			max-width: 700px;
			margin: auto;
			padding-top: 40px;
		}

		.final-sentence{
			font-family: proxima_bold;
			font-size: 1.4em;
			color: #212326;
			text-align: center;
			max-width: 700px;
			margin: auto;
		}
	}

	.adventure-itinerary{
		width: 100%;
		background: #212326;
		min-height: 400px;
		padding-top: 80px;
		padding-bottom: 80px;
		padding-right: 0px;
		padding-left: 0px;
		
		.itinerary-header{
			font-family: proxima_black;
			font-size: 3.2em;
			color: #fff;
			text-align: center;
			border-bottom: 4px solid #aa4b41;
			max-width: 500px;
			margin: auto;
		}

		.destination-container{
			padding-top: 80px;

			.destination-image{
				min-height: 300px;
				border: 8px solid #212326;
				padding: 0px;
			
				.destination-title{
					font-family: proxima_thin;
					font-size: 3em;
					color: #fff;
					text-align: center;
					margin-top: 120px !important;
					margin: auto;
					background: rgba(170,75,65,0.7);
					max-width: 330px;
				}
			}
				
			.destination-description{

				.destination-body{
					font-family: proxima_thin;
					text-align: center;
					color: #fff;
					font-size: 1.2em;
					padding: 12px;
				}
			}
		}
	}

	.adventure-how{
		min-height: 700px;
		background-size: cover !important;
		padding-top: 80px;
		padding-bottom: 80px;
	
		.adventure-how-header{
			font-family: proxima_black;
			font-size: 3.2em;
			color: #fff;
			text-align: center;
			border-bottom: 4px solid #aa4b41;
			max-width: 380px;
			margin: auto;
			margin-bottom: 80px;
		}

		.how-box-container{
			margin: auto;

			.how-box{
				background: transparent;
				min-height: 300px;
			
				.how-box-text{
					margin: 20px;
					background: rgba(33, 35, 38, 0.75);
					border-radius: 4px;
					min-height: 300px;

					.how-box-title{
						font-family: proxima_thin;
						font-size: 2.2em;
						text-align: center;
						padding: 10px;
						color: #fff;
						padding-top: 74px;
					}

					.how-box-body{
						font-family: proxima_thin;
						font-size: 1.2em;
						text-align: center;
						padding: 20px;
						color: rgba(255,255,255,0.5);
					}
				}
			}
		}
	}
}

@media screen and (min-width: 992px){
	#adventure-header-mobile{
		display: none;
	}

	#adventure-explanation-mobile{
		display: none;
	}
}


@media screen and (max-width: 991px){
	#adventure-header{
		display: none;
	}

	#adventure-explanation{
		display: none;
	}

	#adventure-header-mobile{
		display: block;
		font-family: proxima_black;
		font-size: 4em;
		color: #212326;
		text-align: center;
	}

	#adventure-explanation-mobile{
		display: block;
		font-family: proxima_light;
		font-size: 1.6em;
		color: #212326;
		text-align: center;
		max-width: 400px;
		margin: auto;
		padding-top: 20px;
	}

	.adventure-slow-scroll{
		margin-top: 100px;
	}

	.adventure-details .adventure-how .how-box-container .how-box{
		min-height: 0px;
		margin-top: 0px;
		max-width: 500px;
		margin: auto;
	}

	.adventure-details .adventure-how .how-box-container .how-box .how-box-text{
		min-height: 0px;
	}

	.adventure-details .adventure-how .how-box-container .how-box .how-box-text .how-box-title{
		padding-top: 20px;
	}

	.adventure-details .adventure-how .how-box-container .how-box .how-box-text .how-box-body{
		max-width: 400px;
		margin: auto;
		padding-top: 0px;
	}
}

@media screen and (max-width: 500px){
	#adventure-explanation-mobile{
		font-size: 1.4em;
		max-width: 350px;
	}

	.adventure-details .adventure-description .description-title{
		font-size: 2.2em;
		max-width: 350px;
	}

	.adventure-details .adventure-description .description-body{
		font-size: 1.2em;
		max-width: 350px;
	}

	.adventure-details .adventure-description .final-sentence{
		max-width: 350px;
	}

	.adventure-details .adventure-itinerary .itinerary-header{
		font-size: 2.2em;
		max-width: 350px;
	}

	.adventure-details .adventure-how .adventure-how-header{
		font-size: 2.2em;
		max-width: 350;
	}
}