.vietnam-hero {
  margin-bottom: 0px !important;
}

.vietnam-hero-fix {
	min-height: 750px;
	background-size: cover !important;
	margin-top: -60px;
}

.vietnam-slow-scroll {
	position: absolute;
	width: 100%;
	top: 0px;
	margin-top: 310px;

	#vietnam-text {
		position: relative;
		text-align: center;
		width: 100%;
		margin-bottom: 12px;
		color: #212326;
		background: transparent;
		padding-bottom: 20px;
		max-width: 1000px;
		border-radius: 12px;
		margin: auto;

    #vietnam-header{
		font-family: proxima_black;
		font-size: 3.8em;
	}

	#vietnam-explanation {
		max-width: 570px;
		margin: 0 auto;
		font-size: 1.6em;
		font-family: proxima_light;
	}
  }
}  


.vietnam-details{
	position: absolute;
	width: 100%;
	background: #fff;

	.vietnam-description{
		padding-top: 80px;
		padding-bottom: 80px;

		.description-title{
			font-family: proxima_black;
			font-size: 3.2em;
			color: #212326;
			text-align: center;
			border-bottom: 4px solid #aa4b41;
			max-width: 480px;
			margin: auto;
		}

		.description-body{
			font-family: proxima_thin;
			font-size: 1.4em;
			color: #212326;
			text-align: center;
			max-width: 700px;
			margin: auto;
			padding-top: 40px;
		}
	}

	.vietnam-itinerary{
		width: 100%;
		background: #212326;
		min-height: 400px;
		padding-right: 0px;
		padding-left: 0px;

		.mission-block{
		
			.itinerary-header{
				font-family: proxima_black;
				font-size: 3.2em;
				color: #fff;
				text-align: center;
				border-bottom: 4px solid #aa4b41;
				max-width: 300px;
				margin: auto;
				margin-top: 150px;
			}

			.itinerary-body{
				font-family: proxima_thin;
				font-size: 1.4em;
				color: #fff;
				text-align: center;
				max-width: 520px;
				margin: auto;
				padding-top: 40px;
			}

			.final-sentence{
				font-family: proxima_bold;
				font-size: 1.4em;
				color: #fff;
				text-align: center;
				max-width: 700px;
				margin: auto;
			}
		}

		.map-block{
			padding-right: 0px;
			padding-left: 0px;

			.route-map{
				min-height: 570px;
				width: 100%;
			}
		}
	}

	.destination-container{
		padding-top: 80px;
		padding-bottom: 80px;

		.basecamps-title{
			font-family: proxima_black;
			font-size: 3.2em;
			color: #212326;
			text-align: center;
			border-bottom: 4px solid #aa4b41;
			max-width: 560px;
			margin: auto;
			margin-bottom: 80px;
		}

		.destination-image{
			min-height: 300px;
			max-width: 500px;
			border: 8px solid #fff;
			padding: 0px;
			margin: auto;

			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;

			&:hover{
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;

				.destination-description{
					background: rgba(33,35,38,0.8);
					-webkit-transition: .5s ease-in-out;
				}

				.destination-body{
					opacity: 1;
					-webkit-transition: .5s ease-in-out;
				}

				.destination-button{
					opacity: 1;
					-webkit-transition: .5s ease-in-out;
				}

				.destination-title{
					-webkit-transition: .5s ease-in-out;
					max-width: 100%;
					margin-top: 0px !important;
					padding-top: 20px;
					padding-bottom: 20px;
					background: transparent;
					border-bottom: 4px solid #aa4b41;
				}
			}
		}
			
		.destination-description{
			-webkit-transition: .5s ease-in-out;
			min-height: 300px;
			border: 8px solid transparent;

			.destination-title{
				font-family: proxima_bold;
				font-size: 3em;
				color: #fff;
				text-align: center;
				margin-top: 20px !important;
				right: 20px;
				background: rgba(170,75,65,0.85);
				max-width: 330px;
				-webkit-transition: .5s ease-in-out;
				border-bottom: 0px solid #aa4b41;
			}

			.destination-body{
				font-family: proxima_thin;
				text-align: center;
				color: #fff;
				font-size: 1.2em;
				padding-left: 12px;
				padding-right: 12px;
				padding-top: 20px;
				padding-bottom: 20px;
				max-width: 550px;
				margin: auto;
				opacity: 0;
				-webkit-transition: .5s ease-in-out;
			}

			.destination-button{
				font-family: proxima_thin;
				text-align: center;
				color: #fff;
				font-size: 1.0em;
				padding: 8px;
				opacity: 0;
				-webkit-transition: .3s ease-in-out;
				background: rgba(33,35,38,0.6);
				border: 2px solid #fff;
				width: 100%;
				max-width: 140px;
				margin: auto !important;

				&:hover{
					background: rgba(255,255,255,0.2);
					border: 2px solid rgba(33,35,38,0.8);
				}
			}
		}
	}

	.vietnam-how{
		min-height: 700px;
		background-size: cover !important;
		padding-top: 80px;
		padding-bottom: 80px;
	
		.vietnam-how-header{
			font-family: proxima_black;
			font-size: 3.2em;
			color: #fff;
			text-align: center;
			border-bottom: 4px solid #aa4b41;
			max-width: 420px;
			margin: auto;
			margin-bottom: 80px;
		}

		.how-box-container{
			margin: auto;

			.how-box{
				background: transparent;
				min-height: 300px;
			
				.how-box-text{
					margin: 20px;
					background: rgba(33, 35, 38, 0.75);
					border-radius: 4px;
					min-height: 300px;

					.how-box-title{
						font-family: proxima_thin;
						font-size: 2.2em;
						text-align: center;
						padding: 10px;
						color: #fff;
						padding-top: 74px;
					}

					.how-box-body{
						font-family: proxima_thin;
						font-size: 1.2em;
						text-align: center;
						padding: 20px;
						color: rgba(255,255,255,0.5);
					}
				}
			}
		}
	}
}

@media screen and (min-width: 992px){
	#vietnam-header-mobile{
		display: none;
	}

	#vietnam-explanation-mobile{
		display: none;
	}
}


@media screen and (max-width: 991px){
	#vietnam-header{
		display: none;
	}

	#vietnam-explanation{
		display: none;
	}

	#vietnam-header-mobile{
		display: block;
		font-family: proxima_black;
		font-size: 3em;
		color: #212326;
		text-align: center;
		line-height: 40px;
	}

	#vietnam-explanation-mobile{
		display: block;
		font-family: proxima_light;
		font-size: 1.6em;
		color: #212326;
		text-align: center;
		max-width: 400px;
		margin: auto;
		padding-top: 20px;
	}

	.vietnam-slow-scroll{
		margin-top: 200px;
	}

	.vietnam-details .vietnam-itinerary{
		padding-top: 1px;
	}

	.vietnam-details .vietnam-itinerary .map-block .route-map{
		margin-top: 80px;
	}

	.vietnam-details .vietnam-how .how-box-container .how-box{
		min-height: 0px;
		margin-top: 0px;
		max-width: 500px;
		margin: auto;
	}

	.vietnam-details .vietnam-how .how-box-container .how-box .how-box-text{
		min-height: 0px;
	}

	.vietnam-details .vietnam-how .how-box-container .how-box .how-box-text .how-box-title{
		padding-top: 20px;
	}

	.vietnam-details .vietnam-how .how-box-container .how-box .how-box-text .how-box-body{
		max-width: 400px;
		margin: auto;
		padding-top: 0px;
	}
}

@media screen and (max-width: 500px){
	
	.vietnam-hero-fix{
		min-height: 600px;
	}

	.vietnam-slow-scroll{
		margin-top: 140px;
	}

	#vietnam-explanation-title{
		font-size: 2em;
	}

	#vietnam-explanation-mobile{
		font-size: 1.2em;
		max-width: 300px;
	}

	.vietnam-details .vietnam-description .description-title{
		font-size: 2.2em;
		max-width: 300px;
	}

	.vietnam-details .vietnam-description .description-body{
		font-size: 1.2em;
		max-width: 300p
	}

	.vietnam-details .vietnam-itinerary .final-sentence{
		max-width: 350px;
	}

	.vietnam-details .vietnam-itinerary .itinerary-header{
		font-size: 2.2em;
		max-width: 350px;
	}

	.vietnam-details .vietnam-itinerary .itinerary-body{
		font-size: 1.2em;
		max-width: 350;
	}	

	.vietnam-details .vietnam-how .vietnam-how-header{
		font-size: 2.2em;
		max-width: 350;
	}

	.vietnam-details .vietnam-how .how-box-container .how-box .how-box-text{
		margin: 0px;
		margin-top: 10px;
	}

	.vietnam-details .vietnam-how .how-box-container{
		padding: 0px;
	}

	.vietnam-details .vietnam-how .how-box-container .how-box .how-box-text .how-box-body{
		font-size: 1.0em;
	}
}