.jumbotron.jumbotron_fix{style: "background: url('#{asset_path("background/surfjungle.jpeg")}') center center no-repeat"}

.scroll-slow
	#homepage-text  
		#adventure-local
			COLLABORATIVE ADVENTURE
		#adventure-local-explainer
			Group travel like you've never experienced
		#adventure-local-mobile
			COLLABORATIVE
			<br>
			ADVENTURE
		#adventure-local-explainer-mobile
			Group travel like you've <br>
			never experienced
