.jumbotron.jumbotron_fix{style: "background: url('#{asset_path("background/surfjungle.jpeg")}') center center no-repeat"}

.scroll-slow
	#homepage-text 
		#adventure-local
			ADVENTURE YOUR WAY
		#adventure-local-explainer
			One of a kind group adventures made by travelers
		#adventure-local-mobile
			ADVENTURE
			<br>
			YOUR WAY
		#adventure-local-explainer-mobile
			One of a kind group adventures made by travelers


:javascript
	$(document).ready(function() {
	$('#homepage-text').show();
	$('#homepage-text').animate({ opacity: 1, top: "-60px" }, 800);
	});
