.jumbotron.jumbotron_fix{style: "background: url('#{asset_path("background/makeadventuresocial.jpg")}') bottom center no-repeat"}

.jumbotron.jumbotron_fix_mobile{style: "background: url('#{asset_path("background/makeadventuresocialmobile.jpg")}') bottom center no-repeat"}


/.scroll-slow
/	#homepage-text 
/		#adventure-local
/			UNLOCK YOUR ADVENTURE
/		#adventure-local-explainer
/			Claim a trip, find travelers like you and experience a once in a lifetime adventure with local guides around the world
/		#adventure-local-mobile
/			ADVENTURE
/			<br>
/			YOUR WAY
/		#adventure-local-explainer-mobile
/			Claim a trip, find travelers like you and experience a once in a lifetime adventure with local guides around the world


:javascript
	$(document).ready(function() {
	$('#homepage-text').show();
	$('#homepage-text').animate({ opacity: 1, top: "-60px" }, 800);
	});
