.jumbotron.jumbotron_fix{style: "background: url('#{asset_path("background/FriendsCliffJump.jpg")}') center center no-repeat"}

.scroll-slow
  #homepage-text  
    #adventure-local
      What's your adventure?
    #explanation
      These aren't your typical travel experiences