.jumbotron.jumbotron_fix{style: "background: url('#{asset_path("background/homepagesnow.jpg")}') center center no-repeat"}
.jumbotron.jumbotron_fix_mobile{style: "background: url('#{asset_path("background/hikinghomepagemobile.jpg")}') center center no-repeat"}

.scroll-slow
	#homepage-text  
		#adventure-local
			Dream Bigger, Travel Bolder, Tread Lighter
		#adventure-local-explainer
			Custom adventure travel experiences and guides