.jumbotron.jumbotron_fix{style: "background: url('#{asset_path("background/groupcolombia.jpg")}') fixed bottom center no-repeat"}

.jumbotron.jumbotron_fix_mobile{style: "background: url('#{asset_path("background/groupcolombia.jpg")}') bottom center no-repeat"}


.scroll-slow
	#homepage-text 
		#adventure-local
			Launch your adventure
		#adventure-local-explainer
			Rally a team to unlock epic group adventures
		#adventure-local-mobile
			Launch your adventure
		#adventure-local-explainer-mobile
			Rally a team to unlock epic group adventures


:javascript
	$(document).ready(function() {
	$('#homepage-text').show();
	$('#homepage-text').animate({ opacity: 1, top: "-60px" }, 800);
	});

	function simpleParallax() {
		var scrolled = $(window).scrollTop() + 1;
		$('.jumbotron_fix').css('background-position', '0' + -(scrolled * 0.3) + 'px');
	}

	$(window).jumbotron_fix(function (e) {
		simpleParallax();
	});