.jumbotron.jumbotron_fix{style: "background: url('#{asset_path("background/FriendsCliffJump.jpg")}') center center no-repeat"}

.scroll-slow
	#homepage-text  
		#adventure-local
			Dream Bigger
			<br>
			Travel Bolder
			<br>
			Tread Lighter