#hiw_grid

	.container.grid_background
		.row
			.col-md-12.grid-one
				.grid-one-img
				.grid-one-overlay
					Form a team, get lost, cross a foreign country 
				.col-md-12.locationtext
					.grid-title-one.text-center
						Vietnam by Motorcycle
					%a{href: "/vietnam"}
						.col-md-4.col-md-offset-4.grid-one-btn.btn
							View Adventure
		.row
			.col-md-12.grid-two
				.grid-two-img
				.grid-two-overlay
					Volcanos, rainforests, oceans and rivers...
				.col-md-12.locationtext
					.grid-title-two.text-center
						The Colombian Challenge
					%a{href: "/colombia"}
						.col-md-4.col-md-offset-4.grid-two-btn.btn
							View Adventure
			
		.row
			.col-md-12.grid-three
				.grid-three-img
				.grid-three-overlay
					It'll be worth the wait...
				.col-md-12.locationtext
					.grid-title-three.text-center
						Myanmar 
						<br>
						(Coming Soon)


		.row
			.col-md-12.grid-four
				.grid-four-img
				.grid-four-overlay
					Oh boy, it's going to be fun...
				.col-md-12.locationtext
					.grid-title-four.text-center
						Morocco
						<br>
						(Coming Soon)