#hiw_grid

	.container.grid_background
		.row
			.col-md-12.grid-one
				.grid-one-img
				.col-md-12.locationtext
					.grid-title-one.text-center
						Vietnam by Motorcycle
					%a{href: "/vietnam"}
						.col-md-4.col-md-offset-4.grid-one-btn.btn
							View Adventure
		.row
			.col-md-12.grid-two
				.grid-two-img
				.grid-two-overlay
					Volcanos, rainforests, oceans and rivers...
				.col-md-12.locationtext
					.grid-title-two.text-center
						Whitewater Colombia
					%a{href: "/colombia"}
						.col-md-4.col-md-offset-4.grid-two-btn.btn
							View Adventure
			
		.row
			.col-md-12.grid-three
				.grid-three-img
				.grid-three-overlay
					Adventure will be waiting...
				.col-md-12.locationtext
					.grid-title-three.text-center
						Myanmar
					.grid-title-underline
					.grid-title-three-sub
						(Coming Fall 2016)

		.row
			.col-md-12.grid-five
				.grid-five-img
				.grid-five-overlay
					One of the most unexplored areas...
				.col-md-12.locationtext
					.grid-title-five.text-center
						Tajikistan 
					.grid-title-underline
					.grid-title-five-sub
						(Coming Fall 2016)

		.row
			.col-md-12.grid-four
				.grid-four-img
				.grid-four-overlay
					Surfing, ATVing, Biking and much more...
				.col-md-12.locationtext
					.grid-title-four.text-center
						Morocco
					.grid-title-underline
					.grid-title-four-sub
						(Coming Fall 2016)

		.row
			.col-md-12.your-adventure
				.your-adventure-header
					What's Your Adventure?
				.your-adventure-body
					Propose a trip and we could send you on it.
				%a{href: "/adventure"}
					.your-adventure-btn
						Learn More