#hiw_grid

	.container.grid_background
		.row
			.col-md-12.grid-one
				.grid-one-img
				.grid-one-overlay
					Explore trips to Ecuador
				.col-md-12.locationtext
					.grid-title-one.text-center
						ECUADOR
					.col-md-4.col-md-offset-4.grid-one-btn.btn
						VIEW TRIPS
		.row
			.col-md-12.grid-two
				.grid-two-img
				.grid-two-overlay
					Explore trips to Morocco
				.col-md-12.locationtext
					.grid-title-two.text-center
						MOROCCO
					.col-md-4.col-md-offset-4.grid-two-btn.btn
						VIEW TRIPS
			
		.row
			.col-md-12.grid-three
				.grid-three-img
				.grid-three-overlay
					Explore trips to Myanmar
				.col-md-12.locationtext
					.grid-title-three.text-center
						MYANMAR
					.col-md-4.col-md-offset-4.grid-three-btn.btn
						VIEW TRIPS

		.row
			.col-md-12.grid-four
				.grid-four-img
				.grid-four-overlay
					Explore trips to Nicaragua
				.col-md-12.locationtext
					.grid-title-four.text-center
						NICARAGUA
					.col-md-4.col-md-offset-4.grid-four-btn.btn
						VIEW TRIPS