#hiw_grid

	.container.grid_background
		.row
			.col-md-12.grid-one
				.grid-one-img
				.col-md-12.locationtext
					.grid-title-one.text-center
						The Long 
						<br>
						Road South
					%a{href: "/vietnam"}
						.col-md-4.col-md-offset-4.grid-one-btn.btn
							View Adventure
		.row
			.col-md-12.grid-two
				.grid-two-img
				.grid-two-overlay
					Volcanos, rainforests, oceans and rivers...
				.col-md-12.locationtext
					.grid-title-two.text-center
						Expedition
						<br>
						Samana
					%a{href: "/colombia"}
						.col-md-4.col-md-offset-4.grid-two-btn.btn
							View Adventure
			
		.row
			.col-md-12.grid-three
				.grid-three-img
				.grid-three-overlay
					Ride motorcycles through the Himalayas...
				.col-md-12.locationtext
					.grid-title-three.text-center
						India's Far North
					.grid-title-underline
					.grid-title-three-sub
						(Coming Soon)

		.row
			.col-md-12.grid-five
				.grid-five-img
				.grid-five-overlay
					One of the most unexplored areas...
				.col-md-12.locationtext
					.grid-title-five.text-center
						Packrafting the Amazon 
					.grid-title-underline
					.grid-title-five-sub
						(Coming Soon)

		.row
			.col-md-12.grid-four
				.grid-four-img
				.grid-four-overlay
					One of the most unexplored mountain ranges...
				.col-md-12.locationtext
					.grid-title-four.text-center
						Climbing Tajikistan
					.grid-title-underline
					.grid-title-four-sub
						(Coming Soon)

		.row
			.col-md-12.your-adventure
				.your-adventure-header
					What's your adventure?
				.your-adventure-body
					Propose or claim a trip and we could send you on it.
				%a{href: "/adventure"}
					.your-adventure-btn
						Learn More

:javascript

	$(document).ready(function() {
		
		$('body *').each( function(){
		   
			var top_of_object = $(this).position().top;
			var bottom_of_window = $(window).scrollTop() + $(window).height();
		   
			if( bottom_of_window < top_of_object  ){
			
				$(this).addClass('hideme').css({'opacity':'0'});	
			}	
		});
		
		$(window).scroll( function(){
			
			$('.hideme').each( function(i){
				
				var bottom_of_window = $(window).scrollTop() + $(window).height();
				var top_of_object = $(this).position().top;
				
					if( bottom_of_window > ( top_of_object + 100 )  ){
					
						$(this).removeClass('hideme').animate({'opacity':'1'},800);	
					}
			}); 
		});
	});