.banner

	.banner-image{style: "background: url('#{asset_path("background/articmtns.jpeg")}') bottom center no-repeat"}

		#banner-content
			.banner-header
				Adventures with a mission
			.banner-description
				Connecting people and places through travel.
			%a{:href => "/projects"}
				.banner-btn
					Explore Projects