.banner

	.banner-image{style: "background: url('#{asset_path("background/groupcolombia.jpg")}') center top no-repeat"}

		.banner-content
			.banner-header
				Travel to tell a story
			.banner-description
				Connecting people and exploring places to tell stories that deserve to be heard
			%a{:href => "/projects"}
				.banner-btn
					Explore Projects