#how_it_works

  .col-md-12.mission-statement
    .mission-header
      Our Mission
    .mission-description
      We believe travel can be utilized as a force for good, however, don't believe in travel tours that hold your hand and feed you your meals. Adventure is uncertainty and pushing yourself beyond your comfort zone. 


  .container
    .col-md-6.hiw_panel
      .howitworkstitle
        Choose an Adventure
      .hiw-explainer
        From beaches to mountains, select the adventure and travelers that fit your travel needs.
    .col-md-6.hiw_panel
      .howitworkstitle
        Create an Adventure
      .hiw-explainer
        Tell us your dream travel adventure and we'll connect you with those who can make it a reality.
