#how_it_works

  .container
    .col-md-6.hiw_panel
      .howitworkstitle
        Choose an Adventure
      .hiw-explainer
        From beaches to mountains, select the adventure and travelers that fit your travel needs.
    .col-md-6.hiw_panel
      .howitworkstitle
        Create an Adventure
      .hiw-explainer
        Tell us your dream travel adventure and we'll connect you with those who can make it a reality.
