#how_it_works

	.col-md-12.mission-statement
		.mission-block
			.mission-block-content
				.mission-description-bold
					Our Mission
				.mission-description
					We believe travel can be used as a force for good. Our mission is to widen perspectives, evoke empathy and bring the world closer through undeniably exciting experiences.

/We bring together travelers, local guides and social causes to launch unique and purposeful group trips. Our mission is to widen perspectives, evoke empathy and bring the world closer through undeniably adventureous experiences.
	

/	.col-md-12.how-it-works-thumbnails
/		.col-md-10.col-md-offset-1.explainer_steps
/			.col-md-6.explainer_step_container
/				.explainer_step_image{style: "background: url('#{asset_path("background/LaunchATripfinal.png")}') center center no-repeat"}
/				.explainer_step_mobile
/					.explainer_step_mobile_text
/						Apply to unlock a custom adventure and start finding like-minded people to join you.
/			.col-md-6.explainer_step_container
/				.explainer_step_image{style: "background: url('#{asset_path("background/JoinATripfinal.png")}') center center no-repeat"}
/				.explainer_step_mobile
/					.explainer_step_mobile_text
/						Discover outbound trips and connect with those who’ve committed to going.

			


/  .container
/    .col-md-6.hiw_panel
/      .howitworkstitle
/        Choose an Adventure
/      .hiw-explainer
/        From beaches to mountains, select the adventure and travelers that fit your travel needs.
/    .col-md-6.hiw_panel
/      .howitworkstitle
/        Create an Adventure
/      .hiw-explainer
/        Tell us your dream travel adventure and we'll connect you with those who can make it a reality.
