#how_it_works

  .container
    .col-md-4.hiw_panel
      .howitworkstitle
        Choose a Destination
      .hiw-explainer
        From beaches to mountains, select the destination that fits your travel needs.
    .col-md-4.hiw_panel
      .howitworkstitle
        Join a Trip Crew
      .hiw-explainer
        Choose the trip that fits your interests and connect with like-minded travelers.
    .col-md-4.hiw_panel
      .howitworkstitle
        Travel Together
      .hiw-explainer
        Explore and learn from the places you visit, the people you meet and travel with.