#how_it_works

	.col-md-12.mission-statement
		.mission-block
			.mission-block-content
				.mission-title
					Uniting people through uncommon adventures
				.mission-title-underline
				.mission-description
					AdventureMade makes it easy to organize or join memorable group adventures. A place to rally like-minded people with the mission of creating bold, social, and thoughtful trips.
	.col-md-10.col-md-offset-1.explainer_steps
		.col-md-6.explainer_step_container
			.explainer_step_image{style: "background: url('#{asset_path("background/ClaimATripFinal.jpeg")}') center center no-repeat"}
				.explainer_step_text_background
					.explainer_step_text
			.explainer_step_mobile
				.explainer_step_mobile_text
					Apply to unlock a custom adventure and start finding like-minded people to join you.
		.col-md-6.explainer_step_container
			.explainer_step_image{style: "background: url('#{asset_path("background/JoinTripFinal.jpeg")}') center center no-repeat"}
				.explainer_step_text_background
					.explainer_step_text
			.explainer_step_mobile
				.explainer_step_mobile_text
					Discover outbound trips and connect with those who’ve committed to going.


	.col-md-4.col-md-offset-4
		%a{href: "/adventure"}
			.which_stage_btn
				Learn more
			


/  .container
/    .col-md-6.hiw_panel
/      .howitworkstitle
/        Choose an Adventure
/      .hiw-explainer
/        From beaches to mountains, select the adventure and travelers that fit your travel needs.
/    .col-md-6.hiw_panel
/      .howitworkstitle
/        Create an Adventure
/      .hiw-explainer
/        Tell us your dream travel adventure and we'll connect you with those who can make it a reality.
