#how_it_works

  .col-md-12.mission-statement
    .mission-header
      Dream Bigger, Travel Bolder, Tread Lighter
    .mission-underline
    .mission-description
      Uniting travelers and local guides to create unique adventures that can’t be found anywhere else. We give you the power to create your own adventure, and find like-minded people to share it with.

/  .container
/    .col-md-6.hiw_panel
/      .howitworkstitle
/        Choose an Adventure
/      .hiw-explainer
/        From beaches to mountains, select the adventure and travelers that fit your travel needs.
/    .col-md-6.hiw_panel
/      .howitworkstitle
/        Create an Adventure
/      .hiw-explainer
/        Tell us your dream travel adventure and we'll connect you with those who can make it a reality.
