#upcoming-trips

	.container
		.upcoming-trips-header
			.upcoming-trips-title
				Launch a Trip
				<br>
				.upcoming-trips-subtitle
					We’ve curated a collection of compelling, purposeful adventures. Unlock these one-time trips by recruiting a small group to join you.
			.upcoming-trips-underline

	.col-md-10.col-md-offset-1.upcoming-trips-container
		
		.col-md-6.upcoming-trip-block
			.upcoming-trip
				.upcoming-img{style: "background: url('#{asset_path("background/IndiaTitle.jpeg")}') center center no-repeat; background-size: cover;"}
				.see-more-btn{style:"color:#fff;"}
					+
				.upcoming-text{style: "float: right;"}
					.upcoming-details
						.upcoming-title-dates
							.upcoming-title-stats
								.fa.fa-map-marker.upcoming-stats-icon{style:"padding-left: 7px; padding-right: 9px;"}
								<br>
								India
							.upcoming-title-stats
								.fa.fa-calendar.upcoming-stats-icon
								<br>
								Fall 2016
							.upcoming-title-stats	
								.fa.fa-users.upcoming-stats-icon
								<br>
								5-8 travelers
						.upcoming-title
							Riding the Roof of the World
						.upcoming-description
							Traverse the Indian Himalayas on a Royal Enfield motorcycle. Endure challenging climbs and harsh weather as you notch the world's highest roads...
						%a{href: "/india"}
							.upcoming-trip-btn.btn
								Unlock this Trip

		.col-md-6.upcoming-trip-block
			.upcoming-trip
				.upcoming-img{style: "background: url('#{asset_path("background/TheSoCalTrifectaTitleSmall.jpg")}') bottom center no-repeat; background-size: cover;"}
				.see-more-btn{style:"color:#fff;"}
					+
				.upcoming-text{style: "float: right;"}
					.upcoming-details
						.upcoming-title-dates
							.upcoming-title-stats
								.fa.fa-map-marker.upcoming-stats-icon{style:"padding-left: 7px; padding-right: 9px;"}
								<br>
								California
							.upcoming-title-stats
								.fa.fa-calendar.upcoming-stats-icon
								<br>
								Summer 2016
							.upcoming-title-stats	
								.fa.fa-users.upcoming-stats-icon
								<br>
								3-6 travelers
						.upcoming-title
							The SoCal Trifecta
						.upcoming-description
							Exploring southern California's ocean, desert and mountains all in one weekend. Go from rock climbing and camping in Joshua Tree National Park, to surfing the waves of Malibu...
						%a{href: "/socaltrifecta"}
							.upcoming-trip-btn.btn
								Unlock this Trip

	.col-md-12.your-adventure
		.your-adventure-header
			Let’s Collaborate
		.your-adventure-body
			Are you a non-profit, local business, travel blogger, aspiring explorer, photographer, or general lover of travel and want to work with us? Don’t hesitate to shoot us a line, we’d love to hear from you!
		%a{href: "/apply"}
			.your-adventure-btn
				Contact Us

:javascript
	$('.mobile-grid').click(function(){
		$(this).find('.upcoming-trip').hover()
	})