#about_us

	.about_us_banner.about_mobile_banner{style: "background: url('#{asset_path("background/MBA-Mountains.jpg")}') top center no-repeat"}
		#header-font.about_us_title
			About Made by Adventure
		#body-font.about_us_subtitle
			People don’t make adventures, adventures make people.

	.col-md-12.about_us_container
		#subheader-font.about_us_explanation_bold
			We believe...
		#body-font.about_us_explanation
			Adventure lies where certainty ends and evolution can begin; where positive development is possible due to unexpected events, changes, and challenges. 
			<br>
			<br>
			Our hunger for adventure and desire to follow our curiosity has given us a diverse skillset and experiences from which to draw.
			<br>
			<br>
			Part consultancy and part creative agency, we specialize in branding, user experience design, and marketing strategy. We've founded a booking software company, organized group trips worldwide, lead product teams at successful startups, and managed marketing departments. 
			<br>
			<br>
			Unlike other consultants, we aren't afraid of the unknown because it provides us with the opportunity to discover value and grow with you.

	#contact-us-section.col-md-12{style: "background: url('#{asset_path("background/MBA-Footer-Image.png")}') bottom center no-repeat"}
		#header-font.contact_us_title
			What's Your Adventure?
		#body-font.contact_us_subtitle
			We're always interested in new projects and challenges.
		%a.typeform-share{"data-mode" => "1", :href => "https://madebyadventure.typeform.com/to/BTT9KK", :target => "_blank"}
			.about-us-contact-btn
				Connect with us
		%a{href: "/consulting"}
			.work-with-us-contact-btn
				What we do


		.about_us_who
			.col-md-6.founder_container
				.founder_image
				.founder_name
					Jon Maser
				.founder_description
					After founding two adventure travel organizations and working with local adventure travel guides, Jon has put full effots into MadebyAdventure and finding the best way possible to spread the travel bug and positive impacts.
			.col-md-6.founder_container
				.founder_image
				.founder_name
					Max Joles
				.founder_description
					After founding two adventure travel organizations and working with local adventure travel guides, Jon has put full effots into MadebyAdventure and finding the best way possible to spread the travel bug and positive impacts.


:javascript

	(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()

