- content_for(:meta_og) do
	%meta{:content => "Join a MadebyAdventure Project", :property => "og:title"}/
	%meta{:content => "MadebyAdventure", :property => "og:site_name"}/
	%meta{:content => "We believe travel can be used as a force for good. Our mission is to widen perspectives, evoke empathy and bring the world closer through undeniably adventurous experiences.", :property => "og:description"}/
	%meta{:content => "website", :property => "og:type"}/
	%meta{:content => "http://www.madebyadventure.com", :property => "og:url"}/
	%meta{:content => "http://i.imgur.com/mGVttVR.png", :property => "og:image"}/
	%meta{:content => "1200", :property => "og:image:width"}/
	%meta{:content => "628", :property => "og:image:height"}/

	%meta{:content => "summary_large_image", :name => "twitter:card"}
	%meta{:content => "@MadebyAdventure", :name => "twitter:site"}
	%meta{:content => "MadebyAdventure", :name => "twitter:title"}
	%meta{:content => "We believe travel can be used as a force for good and we want to bring the world closer through adventure travel. http://goo.gl/mPjFMC", :name => "twitter:description"}
	%meta{:content => "http://i.imgur.com/mGVttVR.png", :name => "twitter:image:src"}/


#about_us

	.about_us_banner.about_mobile_banner{style: "background: url('#{asset_path("background/MBA-Mountains.jpg")}') top center no-repeat"}
		#header-font.about_us_title
			About Made by Adventure
		#body-font.about_us_subtitle
			People don’t make adventures, adventures make people.

	.col-md-12.about_us_container
		#subheader-font.about_us_explanation_bold
			We believe...
		#body-font.about_us_explanation
			Adventure lies where certainty ends and evolution can begin. Where positive development is possible due to the unexpected events, changes, challenges and unknown will shape you.
			<br>
			<br>
			We believe travel can be used as a force for good. It can evoke empathy, bring people together and tell meaningful stories. It can be a tool for wealth distribution and economic empowerment.
			<br>
			<br>
			We believe travel is frequently oversimplified; dominated by bucketlists, social media “likes”, and mass produced experiences and expectations. It's often dismissive of the needs of residents, ecosystems, and strangely enough, travelers themselves.
			<br>
			<br>
			By engaging people early to create shared experiences, we’re setting the stage for more accurate and well rounded stories. Stories that capture the spirit of a place and provide the lens for a more optimistic future. Stories of involvement, empowerment, and accurate representation. Stories of travel done right.

	#contact-us-section.col-md-12{style: "background: url('#{asset_path("background/MBA-Footer-Image.png")}') bottom center no-repeat"}
		#header-font.contact_us_title
			What's Your Adventure?
		#body-font.contact_us_subtitle
			We're always interested in new projects and challenges.
		%a{href: "/contact-us"}
			.about-us-contact-btn
				Connect with us
		%a{href: "/consulting"}
			.work-with-us-contact-btn
				What we do


		.about_us_who
			.col-md-6.founder_container
				.founder_image
				.founder_name
					Jon Maser
				.founder_description
					After founding two adventure travel organizations and working with local adventure travel guides, Jon has put full effots into MadebyAdventure and finding the best way possible to spread the travel bug and positive impacts.
			.col-md-6.founder_container
				.founder_image
				.founder_name
					Max Joles
				.founder_description
					After founding two adventure travel organizations and working with local adventure travel guides, Jon has put full effots into MadebyAdventure and finding the best way possible to spread the travel bug and positive impacts.


