= render partial: 'homepage_banner'
= render partial: 'how_it_works'
= render partial: 'hiw_grid'
= render partial: 'traveler_quotes'

- if notice
  :javascript
    remove_notice(10);

  

/ = render partial: 'hero_image'
/= render partial: 'launch_trips'



  


