- content_for(:meta_og) do
	%meta{:content => "Create Your Adventure - AdventureMade", :property => "og:title"}/
	%meta{:content => "AdventureMade", :property => "og:site_name"}/
	%meta{:content => "Create an adventure with a local guide and get rewarded when others book your trip.", :property => "og:description"}/
	%meta{:content => "website", :property => "og:type"}/
	%meta{:content => "http://www.madebyadventure.com/adventure", :property => "og:url"}/
	%meta{:content => "http://i.imgur.com/hShb0MO.png", :property => "og:image"}/
	%meta{:content => "1326", :property => "og:image:width"}/
	%meta{:content => "700", :property => "og:image:height"}/

.hero-image.hero-image-fix{style: "background: url('#{asset_path("background/clifflaunch.jpeg")}') center center no-repeat"}

.hero-image.hero-image-fix-mobile{style: "background: url('#{asset_path("background/clifflaunchmobile.jpeg")}') center center no-repeat"}

.banner-scroll
	#landing-text  
		#landing-header
			CREATE YOUR ADVENTURE
		#landing-body
			Connect with those who can make your trip idea a reality


.col-md-12.onboard-mission
	.onboard-mission-header	
		AdventureMade is...
	.onboard-mission-body
		A community of travelers, guides and local connectors working together to make memorable adventures come to life. Harnessing travel as a force for good.

.col-md-12.creator-hiw
	.creator-hiw-header
		How it Works
	.col-md-4.creator-hiw-box
		.creator-hiw-box-text
			.creator-hiw-box-title
				Choose your Adventure
			.creator-hiw-box-underline
			.creator-hiw-box-body
				Pitch your adventure proposal or select from one of our curated adventure ideas. Collaborate with a guide to tweak the details of the experience to fit your preferences.

	.col-md-4.creator-hiw-box
		.creator-hiw-box-text
			.creator-hiw-box-title
				Rally your Team
			.creator-hiw-box-underline
			.creator-hiw-box-body
				Share your personal adventure page with your friends and the AdventureMade community. Inspire, recruit, and communicate with others in a central place. When the trip reaches capacity, you travel for free.

	.col-md-4.creator-hiw-box
		.creator-hiw-box-text
			.creator-hiw-box-title
				Explore the World
			.creator-hiw-box-underline
			.creator-hiw-box-body
				Pack your bags and embark on your once in a lifetime shared adventure. Supported by a trusted local guide, you’re left to enjoy the experience with your team.

.col-md-12.we-are-seeking
	.we-are-seeking-header
		Who We're Seeking:
	.we-are-seeking-title
		The Travel Junky
	.we-are-seeking-body
		<br>
		Those who jump at any chance to get a snag a cheap flight or hitch a ride to unexplored places. We want travelers who travel not to get from point A to B but to experience new cultures, meet new people, and seek memorable experiences. Most importantly, we're looking for those who don't wait for a trip to land in their lap, but are always planning the next trip.
	.we-are-seeking-title
		The Social Influencer
	.we-are-seeking-body
		<br>
		Your Instagram feed is the talk of your friend group and your Facebook page reads like an adventure resume. Friends and family go to you for travel advice and many would jump at the opportunity to travel with you. Whether it's your pictures, stories, personality, or all three, you're doing something right. Spreading travel is spreading happiness.
	.we-are-seeking-title
		The Specialist
	.we-are-seeking-body
		<br>
		Your mere presence on a trip makes it worthwhile for others to join. You have a unique skillset and the opportunity to share your knowledge and perspective through travel. Photographers, yoga instructors, biologists, foodies, language teachers, athletes...we’re talking to you! 

.col-md-12.adventure-creator-container
	.col-md-6.adventure-creator-block
		.adventure-creator-image{style: "background: url('#{asset_path("background/QuinnSmiles.jpg")}') center center no-repeat"}
	.col-md-6.adventure-creator-text
		.adventure-creator-header
			Claim a Trip:
		.adventure-creator-body
			%a{href: '/india' , target: '_blank', style: "font-weight: bold;"} Riding the Roof of the World
			<br>
			<br>
			%a{href: '/peru' , target: '_blank', style: "font-weight: bold;"}Adventure & Conflict in the Amazon
			<br>
			<br>
			%a{href: '/socaltrifecta' , target: '_blank', style: "font-weight: bold;"}The SoCal Trifecta
			<br>
			<br>
			%a{href: '/apply/kyrgyzstan' , target: '_blank', style: "font-weight: bold;"}Eagles, Horses & Yurts

.col-md-12.creation-apply
	.creation-apply-box
		.creation-apply-header
			Think you're ready?
		.creation-apply-body
			Let's set up your next adventure.
		%a{href: "/apply/adventure"}
			.creation-apply-btn
				Introduce Yourself

