.hero-image.hero-image-fix{style: "background: url('#{asset_path("background/homepagesnow.jpg")}') center center no-repeat"}

.hero-image.hero-image-fix-mobile{style: "background: url('#{asset_path("background/homepagesnowmobile.jpg")}') center center no-repeat"}

.banner-scroll
	#landing-text  
		#landing-header
			CREATE YOUR ADVENTURE
		#landing-body
			Build your dream adventure with those who can make it happen


.col-md-12.onboard-mission	
	.onboard-mission-body
		"Our mission is to make your wildest travel idea a reality. We’ll connect you with local adventure guides, who will work directly with you to craft a unique travel experience. For each friend that books your experience, you'll be rewarded."

.col-md-12.creator-hiw
	.col-md-3.creator-hiw-box
		.creator-hiw-box-text
			.creator-hiw-box-title
				Propose your Adventure
			.creator-hiw-box-body
				Tell us why you’re the best traveler to create the trip and lead the charge

	.col-md-3.creator-hiw-box
		.creator-hiw-box-text
			.creator-hiw-box-title
				Collaborate with Guides
			.creator-hiw-box-body
				Fine tune your trip with local guides who can help with details and logistics

	.col-md-3.creator-hiw-box
		.creator-hiw-box-text
			.creator-hiw-box-title
				Share and Recruit
			.creator-hiw-box-body
				We'll build you a custom webpage to share with and recruit other travelers

	.col-md-3.creator-hiw-box
		.creator-hiw-box-text
			.creator-hiw-box-title
				Launch your Adventure
			.creator-hiw-box-body
				Get rewarded when travelers join your crew and then make the trip a reality

.col-md-12.we-are-seeking
	.we-are-seeking-header
		What We Do
	.we-are-seeking-body
		We focus on IMPACT. Not only will we connect you with the best guides, we'll make sure the trip has a positive impact on the local economy, culture and environment. We believe travel can be a huge force for good and we want to prove that through our trips.

.col-md-12.adventure-creator-container
	.col-md-6.adventure-creator-block
		.adventure-creator-image{style: "background: url('#{asset_path("background/QuinnSmiles.jpg")}') center center no-repeat"}
	.col-md-6.adventure-creator-text
		.adventure-creator-header
			About You
		.adventure-creator-body
			%ul
				%li People ask for travel advice or to travel with you
				<br>
				%li	You get uncontrollably excited when planning travel
				<br>
				%li	You have a social brand or unique skill to offer the community
				<br>
				%li	Look to maps and forums for off the beaten path locations


.col-md-12.creation-apply
	.creation-apply-box
		.creation-apply-header
			Think you're ready?
		.creation-apply-body
			Apply with your adventure proposal.
		%a{href:'/apply/adventure'}
			.creation-apply-btn
				Apply

