#trips_page

	.trips_page_banner{style: "background: url('#{asset_path("background/hikerssky.jpeg")}') bottom center no-repeat"}
		.trips_page_banner_text_box
			.trips_page_banner_text
				Dream Big, Travel Bold, Tread Light
			.trips_page_banner_text_small
				Each project is a means to demonstrate the power travel can have when made accessible to travelers and benefiting to all involved.

	.col-md-12.trips_page_container
		.trips_page_title
			What's a Project?
		.trips_page_description
			The goal of every project is to demonstrate the positive potential of travel. Through creative planning and community involvement, we aim to capture the spirit of a place and its culture to provide the lens for a more thoughtful future. Deliberate but never scripted, projects set the tone for a meaningful and stimulating group adventure.

		= render partial: 'hiw_grid'

/	.row{style: "background: #f5f5f5; margin-right: 0px; margin-left: 0px; margin-top: -60px;"}
/		.trips_page_title
/			Past Projects

/		= render partial: 'hiw_grid'