.hero-image.hero-image-fix{style: "background: url('#{asset_path("background/homepagesnow.jpg")}') center center no-repeat"}

.hero-image.hero-image-fix-mobile{style: "background: url('#{asset_path("background/homepagesnowmobile.jpg")}') center center no-repeat"}

.banner-scroll
	#landing-text  
		#landing-header
			CREATE YOUR ADVENTURE
		#landing-body
			Build your dream adventure and find others to join you


.col-md-12.onboard-mission	
	.onboard-mission-body
		Our mission is to make your wildest travel idea a reality. We connect you with the best local adventure guides, who work alongside you to craft a one of a kind travel experience. For each friend that books your experience, you get rewarded.
	.onboard-mission-body-underline

.col-md-12.creator-hiw
	.col-md-3.creator-hiw-box
		.creator-hiw-box-text
			.creator-hiw-box-title
				Propose your Adventure
			.creator-hiw-box-body
				Tell us why you’re the best traveler to create the trip and lead the charge

	.col-md-3.creator-hiw-box
		.creator-hiw-box-text
			.creator-hiw-box-title
				Collaborate with Guides
			.creator-hiw-box-body
				Work with local guides to fine tune the details and logistics of your trip

	.col-md-3.creator-hiw-box
		.creator-hiw-box-text
			.creator-hiw-box-title
				Share and Recruit
			.creator-hiw-box-body
				Share your custom trip with the world and get rewarded when others join your trip crew

	.col-md-3.creator-hiw-box
		.creator-hiw-box-text
			.creator-hiw-box-title
				Launch your Adventure
			.creator-hiw-box-body
				When capacity is reached, we handle bookings while you take on your adventure

.col-md-12.we-are-seeking
	.we-are-seeking-header
		Adventure Expectations
	.we-are-seeking-title
		Creativity
	.we-are-seeking-body
		Create something that isn’t offered anywhere else. Work with a local guide to make your crazy idea into an actual marketable trip. 
	.we-are-seeking-title
		Mindfulness
	.we-are-seeking-body
		Act in the best interest of your group and local communities. Spend locally, eat locally, sleep locally. Always follow Leave No Trace principles.
	.we-are-seeking-title
		Adaptability
	.we-are-seeking-body
		All true adventures have some level of uncertainty. Be transparent about what is fully planned and what is flexible.
	.we-are-seeking-title
		Companionship
	.we-are-seeking-body
		Desire to find 4-8 friends, family, or other travelers to share this incredible opportunity.

.col-md-12.adventure-creator-container
	.col-md-6.adventure-creator-block
		.adventure-creator-image{style: "background: url('#{asset_path("background/QuinnSmiles.jpg")}') center center no-repeat"}
	.col-md-6.adventure-creator-text
		.adventure-creator-header
			Perfect if you...
		.adventure-creator-body
			%ul
				%li Are confident others will join you on a trip
				<br>
				%li	Get uncontrollably excited when planning travel
				<br>
				%li	Are an influencer or can offer unique skills to fellow travelers
				<br>
				%li	Look to maps and forums for off the beaten path trips


.col-md-12.creation-apply
	.creation-apply-box
		.creation-apply-header
			Think you're ready?
		.creation-apply-body
			Apply with your adventure proposal
		%a{href: "/apply/adventure"}
			.creation-apply-btn
				Introduce Yourself

