.adventure-hero.adventure-hero-fix{style: "background: url('#{asset_path("background/halongb&w.jpg")}') center center no-repeat"}

.adventure-slow-scroll
	#adventure-text  
		#adventure-header
			2 Wheels | 2 Weeks | 2,200 km
		#adventure-explanation
			Four teams racing from North to South Vietnam on motorcycles...Why? Why not?

.adventure-details
	.adventure-description
		.description-title
			What the hell is this?
		.description-body
			We don't believe in travel tours that hold your hand and feed you your meals, which is why we're choosing 8 ballsy travelers to conquer Vietnam with motorcycles. We're going from Ha Long Bay all the way down the coast to Ho Chi Minh City. No set routes, GPS cheats or guides to lead the way.
			<br>
			<br>
			Adventure is uncertainty and pushing yourself past your comfort level so, rather than travel in a big group, we're going to break into teams of two. We'll party together at the starting line and once again at the finish but inbetween will be the stories you'll brag about when you return to your desk job. 
			<br>
			<br>
		.final-sentence
			Sound crazy? That's why we're going to do it this June.

	.col-md-12.adventure-itinerary
		.itinerary-header
			From Where to Where?
		.col-md-8.col-md-offset-2.destination-container
			.row.col-md-6
				.destination-image{style: "background: url('#{asset_path("background/halongfade.jpeg")}') center center no-repeat"}
					.destination-title
						Ha Long Bay
				.destination-description
					.destination-body
						We'll kick things off within a natural wonder of the world with a launch party aboard an overnight boat cruise with all team members. 
			.row.col-md-6
				.destination-image{style: "background: url('#{asset_path("background/hanoib&w.jpg")}') center center no-repeat"}
					.destination-title
						Ho Chi Minh City
				.destination-description
					.destination-body
						Those who don't get lost will cross our finish line in the hustle of Ho Chi Minh with a party to celebrate the conquered challenge.





